.page-product .container{
    max-width: 1064px;
    margin: 0 auto;
}
.form-contact input.form-control {
    height: 30px;
    border-radius: 0;
    border: 1px solid #515252;
    float: left;
}
.form-contact .bottomContact input.form-control{
    width:78%;
    border: 2px solid #515252;
    max-width: 335px;
}
.form-contact .topContact input.form-control{
    width:78%;
    max-width: 225px;
    border: 2px solid #515252;
}
.form-contact textarea{
    border-radius: 0;
    border: 2px solid #515252;
    min-height: 75px;
    width:78%;
    max-width: 335px;
    padding: 6px 12px ;
}
.avata img{
    border-radius: 100%;
    border:	3px solid #515252;
}

.form-contact p{
    width: 100%;
    color: #515252;font: 400 14px Roboto;
    overflow: hidden;
    position: relative;
}
.form-contact  .topContact > p:first-child{padding-left:120px;}
.form-contact span{
    width: 22%;
    float: left;
    font-weight: 400;
    max-width: 120px;
    display: inline-block;
}
.form-contact h4{
    font: 900 14px Arial;color: #515252;
}
.form-contact h4 strong{
    color: #02b691;
    font-weight: 900;

}
.form-contact i {
    color: #02b691;
    font-size: 20px;
    padding-left: 10px;
    line-height: 30px;
}
/*
.form-contact input.form-control:nth-child(1) {
    margin-left: 143px;
}
*/
.form-contact h4 i{
    padding-left: 50px;
}
.form-contact i.fa.fa-pencil-square-o:last-child {
    position: absolute;
}
.avata {
    text-align: center;
    padding-top: 82px;
}
.tex-content{
    padding-top: 58px;
    padding-left: 35px;
}
.avata p {
    padding-top: 40px;
    font: 400 14px Roboto;
    color: #515252;
    font-weight: 400;

} 
.avata p a{
        color: #fff;
        display: none;
        top: 260px;
        position: absolute;
        left: 87px;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        padding: 5px;
        background: #02b691;
        height: 27px;
        border-radius: 5px;

}
.avata:hover p a{

    bottom: 0;
    display: block;

}
.avata p a:hover{text-decoration: none;}
.form-contact button{
    width: 99px;
    height: 32px;
    border: none;
    background-color: #02b691;
    color: #fff;
    font: 400 16px Roboto;
    margin-left: 143px;
     -webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
  transition: all 1s ease;
}
.form-contact{
    padding-bottom: 79px;
    border-bottom: 1px solid #ccc;
}
.history-order h4{
    width: 37%;
    float: left;
    line-height: 0;
    font: 900 14px Arial;
    color: #515252;
}
.history-order .title{
    font: 400 14px Roboto;
    color: #515252;
    font-weight: 400;
    line-height: 41px;
}
li.col-history {
    display: inline-block;
    width: 24%;
}
.history-order ul{line-height: 28px;}
.history-order ul li,.history-order ul li h5{
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    color: #515252;
}
.history-order {
    margin-top: 22px;
    margin-bottom: 90px;
}
.footer-top .link-social{
    width: 100%;
    float: left;
    background-color:#f0f0f0;
    height: 110px;
}
.footer-top .link-social ul li{
    display: inline-block;

}
.footer-top .link-social ul li i{
    font-size: 30px;
    padding: 0 12px;
    color: #3e3935!important;
    line-height: 110px;
}
.footer-top .link-social ul li i:hover{
    color: rgba(0,0,0,.5)!important;
}
.footer-bottom {
    width: 100%;
    float: left;
}
.link-social-right p{
    float: left;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    color: #515252;
}
.link-social-right input{
    width: 275px;
    height: 30px;
    float: left;
}
.link-social-right button{
    width: 170px;
    height: 30px;
    color: #fff;
    background: #3d3935;
    border: none;
}
.link-social-right{
    line-height: 110px;
}
.link-social-right input{
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 10px;
}
.app-footer {
    background-image: url(../images/bg-footer-top.png);
    width: 100%;
    float: left;
    margin-bottom: 3px;
    height: 225px;
}
.app-footer-left{
    text-align: center;

}
.app-footer-left img{
    padding-top: 28px;
}
.app-footer-right p{
    font-size: 22px;
    font-family: Roboto;
    font-weight: 400;
    color: #515252;
}
.app-footer-right{
    padding-top: 70px;
}
.form-contact button:hover{
    background-color: rgba(2, 182, 145, 0.6);
}
.cat-top-info h5{
    font: 900 21px Arial;color: #02b691;
}
.cat-top-info .title a{
    font: 400 16px Roboto;
    color: #ffffff;
    background-color: #02b691;
    padding: 5px 10px;
    margin: 10px 0;
    float: left;
    display: inline-block;
    margin: 10px 0 10px 30px;
}
.cat-top-info a:hover{
    text-decoration: none;
}
.cat-top-info ul li{width: 100%;
    float: left;}
.cat-top-info .title{
    width: 100%;
    float: left;
}
.cat-top-info .title h5{
    width: 15%;
    float: left;
}
.first-col i{
    padding-right: 20px;
    color: #515152;
}
.cat-top-info .first-col{width: 15%}
.cat-top-info .two-col{width: 45%}
.cat-top-info .four-col i{
    font-size: 25px;
    color: #02b691;
    margin-right:45px;
    float: left;
    line-height: 24px;
}

.cat-top-info p{
    font: 400 16px Roboto;color: #515152;padding-top: 15px;
}
.cat-top-info .three-col{
    padding-right: 40px;
}
.cat-top-info .three-col, .cat-top-info .four-col{width: 19%;text-align: right;}
.cat-top-info .three-col i{
    padding: 3px;
    color: #fff;
    background-color: #02b691;
    margin: 0 10px;
}
.cat-top-info{
    margin-top: 93px;
    padding-bottom: 19px;
    border-bottom: 1px solid #ccc;
}
.cat-center-info p:nth-child(1){
    width: 50%;
    float: left;
}
.cat-center-info p:nth-child(2){
    width: 50%;
    float: right;
    text-align: right;
    padding-top: 5px;
    padding-right: 11px;
}
.cat-center-info p input.form-control{
        width: 227px;
    float: left;
    margin-left: 32px;
    border-radius: 0;
    height: 29px;
    border: 1px solid #515252;
}
.cat-bottom-info {
    width: 100%;
    float: left;
    padding-right: 11px;
    padding-top: 20px;
        padding-bottom: 32px;
    border-bottom: 1px solid #ccc;
}
.cat-center-info p span{
    float: left;
    line-height: 32px;
}
.cat-bottom-info ul li{
    display: inline-block;
}
.cat-bottom-info p,.cat-center-info p{
    font: 400 16px Roboto;
    color: #515152;
}
.cat-bottom-info .first-col{width: 15%}
.cat-bottom-info .two-col{width: 55%}
.cat-bottom-info .three-col{   
     width: 29%;
    text-align: right;
    float: right;
}
.cat-center-info{
        width: 100%;
    float: left;
    padding-top: 11px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.cat-bottom-info .three-col strong{
    width: 100%;
    float: right;
    padding-bottom: 20px;
}
.cat-bottom-info .three-col button{
    width: 99px;
    height: 32px;
    border: none;
    color: #fff;
    background: #02b691;
}
.customer-info .col-md-4 input.form-control{
    border-radius: 0;
    border-color: #515252;
    height: 41px;
    width: 227px;
    float: right;
}
.customer-info textarea {
    height: 80px;
    width: 556px;	
    float: right;
     border-color: #515252;
}
.customer-info p.col-md-4{
    line-height: 42px;
}
.customer-info p.col-md-12 span{
    width: 40%;
    text-align: right;
    float: left;

}
.customer-info input[type="checkbox"]{
    width: 25px;
    height: 25px;
    border: 1px solid #02b691;
    margin-left: 83px;
    float: left;
    margin-right: 20px;
}
.customer-info .delivery{width: 34.33333%}
.customer-info .input-group {width: 65.66667%}
.customer-info .delivery, .customer-info .name{padding-left: 0}
.customer-info .delivery select{
    height: 42px;
    width: 227px;
    border-color: #515252;
}
.customer-info .input-group input{
    border-radius: 0;
    border-color: #515252;
    height: 42px;
    border-right: none;
}
.customer-info .input-group .input-group-addon{
    background: #fff;
    border-color: #515252;
}
.customer-info .input-group{padding-right: 15px;}
.customer-info button{
    width: 99px;
    height: 30px;
    background-color: #02b691;
    color: #fff;
    border: none;
    float: right;
    margin-right: 15px;
    margin-top: 24px;
}
.customer-info h5{
    width: 100%;
    float: left;
    font: 900 21px Arial;color: #02b691;text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 47px;
}
.customer-info h5 i{
    padding-left: 10px;
    font-size: 15px;
}
.customer-info p{
    font: 400 15px Roboto;   
    color: #515252;
}
.customer-info{
    padding-bottom: 33px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    float: left;
}
.schedule-info .title h5{
    width: 15%;
    float: left;
    font: 900 21px Arial;
    color: #02b691;
}
.schedule-info .title a{
    font: 400 16px Roboto;
    color: #ffffff;
    background-color: #02b691;
    padding: 5px 10px;
    margin: 10px 0;
    float: left;
}
.schedule-info p{
    width: 100%;
    float: left;
    font: 400 16px Roboto;
    color: #515252;
}
.schedule-info p i.fa.fa-pencil-square-o{
    font-size: 25px;
    color: #02b691;
    margin-right: 15px;
    float: right;
}
.schedule-info p i.glyphicon.glyphicon-remove{padding-right: 20px;}
.schedule-info{
    width: 100%;
    float: left;
    padding-top: 36px;
    padding-bottom: 33px;
    border-bottom: 1px solid #ccc;
}
.schedule-info button, .payment button {
    width: 99px;
    height: 30px;
    background-color: #02b691;
    color: #fff;
    border: none;
    float: right;
    margin-right: 15px;
    margin-top: 24px;
}
.payment {
    width: 100%;
    float: left;
    padding-bottom: 71px;

}
.payment h5 {
    width: 100%;	
    float: left;
    font: 900 21px Arial;
    color: #02b691;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 47px;
}
.payment h5 i {
    padding-left: 10px;
    font-size: 15px;
}
.payment .pm-method{
    width: 100;
    float: left;

}
.payment .pm-method select{
    height: 41px;
    width: 227px;
    margin-left: 20px;
    border-color: #515252;
}
.payment .add-note{
    width: 100%;
    float: left;
}
.payment .add-note textarea{
    height: 85px;
    width: 815px;
    float: right;
    margin-right: 15px;
    border-color: #515252;
}
.sidebar-left h5{
    font: 900 32px Arial;
    color: #000000;
    padding-bottom: 15px;
    padding-top:42px;
}
.sidebar-left ul li a{
    font: 400 24px Roboto;
    color: #000000;
    text-align: right;
    padding: 5px 0px;
}
.content-right .sort-by {
    font: 400 18px Roboto;color: #515252;
    padding-top: 49px;
    text-align: right;
    padding-bottom: 35px;
}
.sort-by .select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #515252;
}
.sort-by .select2-container--default .select2-selection--single{
    border-color: #515252;
        text-align: left;
}
.sort-by .select2-container{
    width: 139px!important;
    height: 46px;
}
.pick-product .product .main-img img{
    height: 251px;
}
.pick-product .product.col-xs-6.col-sm-4 {
    padding-bottom: 24px;
        height: 282px;
        overflow: hidden;
            transition: all 1s ease;
}
.pagination>li>a {
    color: #515252;
}
.pagination>li>a:focus, .pagination>li>a:hover{
    background-color: #02b691
}
.page-product nav .pagination {
    padding-top: 42px;
    padding-bottom: 85px;
}
.product .detail .add-cart{
    bottom: 15px!important;
}
.product:hover .detail .desc{
    display: block;
    font-size: 12px;
    padding-left: 10px;
    font-family: Roboto;
    padding-bottom: 5px;
}
.product:hover .detail .option{
    display: block;
    background-color: rgba(2, 182, 145, 0.9);
    z-index: 999;
    overflow: hidden;
    position: relative;

}
.product:hover .detail{
    background-color: rgba(255, 255, 255, 0.67)!important;
    color: #515252;
    padding-left: 0!important;

}
.product:hover .detail .add-cart{
    display: none;
}
.product .detail .extra .btn-product:hover, .product .detail .standard  .btn-product:hover,.product .detail .extra-big  .btn-product:hover {
    background-color: #fff;
    color: #16BA98!important;
}

.product:hover .detail .extra .btn-product{
    padding: 10px;
    font-size: 11px;
    color: #fff;
    position: absolute;
    bottom: 15px;
    right: 83px;
}
.product:hover .detail .standard  .btn-product{
    padding: 10px;
    font-size: 11px;
    color: #fff;
    position: absolute;
    bottom: 15px;
    left: 3px;
}
.product:hover .detail .extra-big  .btn-product{
    padding: 10px;
    font-size: 11px;
    color: #fff;
    position: absolute;
    bottom: 15px;
    right: 4px;
}
.product:hover .detail .extra label{
    color: #fff;
    position: absolute;
    margin-top: 20px;
    right: 87px;
}
.product:hover .detail .extra-big label{
    color: #fff;
    position: absolute;
    margin-top: 20px;
    right: 13px;
}
.product:hover .detail .price{
    margin-bottom: 0;
}
.header-bottom .btn-banner:hover, .form-contact button:hover,.cat-top-info .title a:hover, button:hover,.schedule-info .title a:hover,.cat-bottom-info .three-col button:hover{
    background-color: #167B67;
    text-decoration: none;
}
.sidebar-left ul li a{
    text-align: left;
    padding-left: 10px;
    border-bottom: 1px dashed #ccc;
     -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
        transition: all 1s ease;
}
.sidebar-left ul li:first-child a{
    border-top: 1px dashed #ccc;
}

.sidebar-left ul li a:hover{
    background-color: #515252;
    color: #fff;
}
.for-detail button:hover{
    background-color: #167B67!important;
}
.product-block .list-products .load-more:hover{
    text-decoration: none;
    background-color: #02b691;
    color: #fff;
    border-color: #02b691;
    -webkit-transition: 1s ease-in-out;
}
.header-top {
    background-image: url(../images/bg-top-header.png)!important;
    background-repeat: no-repeat!important;
}

.index-page .header-bottom .btn-banner{
    position: absolute;
    top: 180px;
    left: 15px;
}
.index-page .header-bottom .bottom-slide{
    background: url(../images/bg-bottom-slider.png);
    height: 50px;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
}
#cart-item {
    width: 626px;
    height: 405px;
    position: fixed;
    left:30%;
    top:145px;
}
/*#cart-item */.cat-top-info .first-col{
    width: 20%;
    float: left;
}
/*#cart-item */.cat-top-info .two-col{
    width: 35%;
    float: left;

}
/*#cart-item */.cat-top-info .three-col{
    width: 18%;
    padding-right: 5px;
    float: left;
}
/*#cart-item*/ .cat-top-info .four-col{
    width: 25%;

}
/*#cart-item*/ .cat-top-info .four-col i{
    margin-right: 0px!important;
    padding-left: 25px;
}
/*#cart-item*/ .cat-top-info{
    border: none;
    margin-top: 10px;
    padding-left: 10px;
}
#cart-item .bottom-info p{
    color: #515252;
    font: 400 16px Roboto;
    width: 65%;
    float: left;
    text-align: right;
    line-height: 15px;
        padding-top: 26px;
}
#cart-item .bottom-info a{
    width: 34%;
    float: right;
    text-align: left;
    line-height:76px;
    text-align:center;
}
#cart-item .bottom-info p span{
    color: #fff;
    font: 900 21px Arial;

}
#cart-item .bottom-info{
    background-color: #02b691;
    padding-left: 10px;
    width: 624px;
    height: 143px;
    position: absolute;
    bottom: 0;
}
#cart-item .bottom-info a{
    width: 180px;
    height: 76px;
    padding: 25px 30px;
    background: #fff;
    margin-top: 36px;
    margin-right: 10px;
    border-radius: 10px;
    font: 400 18px Roboto;
    color: #02b691;
}
#menu-lang{
    position: absolute;
    top: 88px;
    right: -117px;
}
#menu-schedule{
    position: absolute;
    top: 88px;
    right: 15px;
    /*top: 490px;
    right: 210px*/
    cursor: pointer;
}
#popup-home-page {
    position: fixed;
    top: 10%;
    width: 100%;
    left: 16.5%;
    background: #f8f9fa;
    z-index: 99999;
    color: #444444;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 15px;
    display: none;
    max-width: 1065px;
}
#popup-home-page .wrap > p{
    width: 39%;
    max-width: 375px;
    margin-top: 0;
    float: left
}
#popup-home-page .wrap > p > img{
    width:100%;
    margin: 0px;
    max-height: 405px;
}
#popup-home-page .right-popup {
    float: right;
    width: 59%;
    margin-left:2%;
    position: relative;
}
#popup-home-page .right-popup .top h5{
    font: 400 24px Roboto;
    color: #444444;
    width: 100%;
    line-height: 24px;
    margin:0px;
}
#popup-home-page .right-popup .top{
    width: 100%;
    float: left;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
#popup-home-page .right-popup .top .icon{
    width: 50%;
    float: right;
    text-align: right;
}
#popup-home-page .right-popup .top .icon a {
    width: 33px;
     height: 33px;
     float: right;
     color: #fff;
    position: absolute;
    top:0px;
}
#popup-home-page .right-popup .top .icon a i{
    float: right;
    padding: 9px 5px;
    font-size: 18px;
}
#popup-home-page .right-popup .top .icon a:nth-child(1){
    background-color: #346da6;
    padding-right: 7px;
    right: 65px;
}
#popup-home-page .right-popup .top .icon a:nth-child(2){
    background-color: #ca4738;
    right: 30px;
}
#popup-home-page .right-popup .top .text{
    width: 100%;
    line-height: 18px;
    font-size: 14px;
    margin-top:25px;
    margin-bottom: 0px;
}
#popup-home-page .right-popup .bottom{
    width: 100%;
    overflow: hidden;
}
#popup-home-page .right-popup .bottom p a{
    font: 400 16px Roboto;
    color: #696767;
    padding: 5px 10px;
    border: 1px solid #eee;
    border-radius: 7px;
    margin-right: 10px;
    display: inline-block;
}
#popup-home-page .right-popup .bottom p a:hover{
    text-decoration: none;
    background-color: #02b691;
    color: #fff;
    border-color:  #02b691;
}
#popup-home-page .right-popup .bottom p{
    width: 50%;
    float: left;
}
#popup-home-page .right-popup .bottom h6{
    width: 50%;
    float: right;
    text-align: right;
    font: 400 18px Roboto;
    color: #696767;
    margin:0px;
    line-height: 35px
}
#popup-home-page .right-popup .bottom h6 span{
    font: 400 22px Roboto;
    color: #696767;
    padding: 0px 50px;
    border: 1px solid #eee;
    border-radius: 7px;
}
#popup-home-page .right-popup .bottom .form-qr{
    width: 100%;
    float: left;
    padding-bottom: 15px;
}
#popup-home-page .right-popup .bottom .form-qr .select2-selection__arrow{
    line-height: 33px;color: #777
}
#popup-home-page .right-popup .bottom .form-qr .select2-container{
    width: 129px!important;
    border: 1px solid #eee;
    height: 33px;
    border-radius: 7px;
    float: left;
}
#popup-home-page .right-popup .bottom .form-qr .select2-selection--single{
    height: 33px!important
}
#popup-home-page .right-popup .bottom .form-qr  .select2-selection__rendered{
    color: #777!important;
    font: 400 18px / 33px Roboto;
}
#popup-home-page .right-popup .bottom .form-qr .end{
    width: 100%;
    float: left;
    line-height: 33px;
    margin-top: 10px;
}
#popup-home-page .right-popup .bottom .form-qr .end a{
    padding: 5px 15px;
    margin-right: 10px;
    border: 1px solid #e9e9e7;
    background: #e9e9e7;
    border-radius: 7px;
    color: #696767;
}
#popup-home-page .right-popup .bottom .form-qr .end a:hover{
    text-decoration: none;
    background-color: #02b691;
    color: #fff;
}
#popup-home-page .right-popup .bottom .form-qr .col-xs-3:nth-child(1){
    padding-left: 0!important
}
#popup-home-page .right-popup .bottom .exit i{
    font-size: 17px;
    position: absolute;
    top: -25px;
    right: -25px;
    cursor: pointer;
}
/*
.bg-popup {
    position: fixed;
    z-index: 999;
    background: rgba(37, 34, 34, 0.91);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
}

*/
#cart-item{
    padding: 0;
    /*display: block;*/
}
.for-detail .btn i{
    font-size: 30px;
    padding-left: 5px;
    position: absolute;
    top: 66px;
}
.categories-menu.fixed {
    position: fixed!important;
    top: 0!important;
    left: 0!important;
    height: 50px!important;
    z-index: 999;
    width: 100%!important;
    background: rgba(51, 51, 51, 0.85);

}
#header-menu .categories-menu.fixed #cat_popup {
    top: 50px;
    left: 20px;
    width: 320px;

}
#header-menu .login{margin-bottom: 0;padding: 0 10px;float: left;}
#header-menu .login:hover{
    background-color: #02b691 ;
}
.avata .name-level .score img{
    border-radius: 0;
    border: none;
    padding: 0 10px; 
}
.avata .name-level .score{
    font-size: 25px;
    padding-top: 0px;
    display: none;
}
.avata .name-level .score.active{
    display: block;
}
.avata .name-level .score span{
    color: #02b691;
    background: #e8e8e8;
    display: none;
}
.avata .name-level .score:hover span{display: block;}
.avata .name-level{margin-top: -45px;}
.categories-menu i.fa.fa-bars{
    font-size: 40px;
    top: 5px;
    position: absolute;
    color: #fff;
}
.categories-menu.fixed i.fa.fa-bars{left: 20px;}
.title a, button{
     -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
.date-picker input{
    color: #fff;
    background: #262626;
    width: 356px;
    height: 43px;
    border-radius: 7px;
    padding-left: 10px;
    font-size: 18px;
}
.date-picker button{

    height: 43px;
    background: #262626;
    color: #fff;
    width: 64px;
    border-left: none;
     border-radius: 7px;


}
.date-picker button i{
    font-size: 28px;
    position: relative;
    top:-2px;
}
table.ui-datepicker-calendar thead {
    display: none;
}
#ui-datepicker-div .ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content{
        display: block;
        position: absolute;
        bottom: 50px;
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
        border: none;
}
#ui-datepicker-div tbody .ui-state-default{
    border: none;

    text-align: center;
    font-size: 18px;
    color: #676767;
    font-style: italic;
    font-family: Roboto;
}
#ui-datepicker-div tbody .ui-state-active{
    background-color: #c8d7d4;
}
#ui-datepicker-div .ui-widget-header{background-color: #fff}
#ui-datepicker-div .ui-datepicker-header{
    border: none;
}
/*#ui-datepicker-div .ui-datepicker-title{
        height: 90px;
        line-height: 90px;
        font-size: 18px;
        text-transform: uppercase;
        margin: 0;

        font-weight: 200;
}*/

/*#cart-item*/ .cat-top-info p {
    width: 20%;
    float: left;
}
/*#cart-item*/ .cat-top-info p i{
    padding: 3px;
    color: #fff;
    background-color: #02b691;
    margin: 0 10px;
}
/*#cart-item*/ .cat-top-info p:nth-child(4) i{
        font-size: 25px;
        color: #02b691;
        margin: 0;
        float: left;
        line-height: 24px;
        background: none;
        float: right;
}
/*#cart-item*/ .cat-top-info p:nth-child(2){
    width: 35%;
}

.slide-header .container{position: relative;}



.color-click-red #color-red{background-color: #02b691;color: #fff!important}
.color-click-blue #color-blue{background-color: #02b691;color: #fff!important}
.color-click-green #color-green{background-color: #02b691;color: #fff!important}

.index-page .header-bottom .bottom-slide{
    background-size:100%
}
#popup-home-page .right-popup .bottom .plus  i.fa.fa-heart-o{
    font-size: 40px;

    position: absolute;
    top: 8px;
    right: 168px;
}
#popup-home-page .right-popup .bottom .plus  i.fa.fa-heart-o:hover{
    color: #f34336;
}
#popup-home-page .right-popup .bottom .plus  i.fa.fa-heart{
    font-size: 40px;
    color: #f34336;
    position: absolute;
    top: 8px;
    right: 168px;
    display: none;
}
#popup-home-page .right-popup .bottom .plus  i.fa.fa-heart-o:hover{
    color: #f34336;
}
#popup-home-page .right-popup .bottom .plus-heart i.fa.fa-heart-o{display: none;}
#popup-home-page .right-popup .bottom .plus-heart i.fa.fa-heart{display: block;}
/*#popup-home-page .right-popup .bottom .plus-heart i.fa.fa-heart-o{
    background-color: #f34336;
}*/
#popup-home-page .right-popup .top .icon a:nth-child(1):hover {
    background-color: #185490;
}
#popup-home-page .right-popup .top .icon a:nth-child(2):hover {
    background-color: #B32515;
}
.profile > li:hover img{opacity: 0.5}
.fixed #cat_popup a:hover,.categories-menu #cat_popup a:hover{
    text-decoration: none;
    background-color: #02b691;
    color:#fff;
}

#cat_popup {padding: 0}
#cat_popup a,#cat_popup h6{
    padding-left: 15px;
    padding-right: 15px;
      -webkit-transition: all .7s ease;
     -moz-transition: all .7s ease;
       -o-transition: all .7s ease;
      -ms-transition: all .7s ease;
      transition: all .7s ease;
}

/*#cart-item*/ .cat-top-info p i.glyphicon.glyphicon-remove:hover{
    border: 1px solid red;
    border-radius: 100%;
    background: rgba(220, 9, 9, 0.75);
}
.pick-block .for-detail{position: relative;}
.pick-block .for-detail i.fa.fa-eye{
    color: #777;
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    left: 190px;
}
.pick-block .ask_delitm input{
    width: 20px;
    height: 20px;
}

#form-login .form-group label{
    float: left;
    color: #999;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
}
#form-login .form-group a{
    float: right;
    color: #999;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
}
#form-login .form-group{
    width: 100%;
    float: left;
}

#form-login form button,#form-register form button{
    width: 100%;
    border-radius: 0;
    border: none;
    background: #02b691;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 600;
}
.checkout-page .cat-top-info{
    width: 100%;
    float: left;
}
.select2-dropdown{z-index: 999999 !important;}
/*#form-register{display: block;}*/

