@import url("style_ta.css");
@import url("responsive.css");
@import url("responsive_ta.css");

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,vietnamese);
@font-face{
    font-family: open;
    src:url('/fonts/OpenSans-Bold.woff');
}
body{font-family: Roboto}
.container{max-width: 1020px}
a{text-decoration: none;}
ul{list-style: none;padding: 0;margin: 0}
/*HEADER*/
.header-top{
    position: relative;
    background-color:#262626;
    z-index: 999;
}
.header-top p,
.header-top a{
    color: #fff;
    font: 400 14px / 30px Roboto;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    margin: 0;
}
.header-top a{text-decoration: underline;}
.header-top p > span{font-weight: 700}
#header-menu{
    line-height: 88px;
    position: relative;
    z-index: 999;
    background: transparent url('../images/bg_nav2.png');
}
#header-menu .container > *{
    /*display: block;*/
    float: left;
}
.header-bottom .container{position: relative;}
.categories-menu{
    width: 44px;
    height: 68px;
    cursor: pointer;
    position: relative;
    top: 20px;
    z-index: 99;
}
#logo{
    max-width: 250px;
    width: 100%;
    text-align: center;
}
#logo img{
    margin-bottom: 5px;
    transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
}
.main-menu > li{
    display: block;
    float: left;
    position: relative;
}

.main-menu > li > a{
    color: #fff;
    font: 400 14px / 30px Roboto;
    text-transform: uppercase;
    display: block;
    height: 88px;
    line-height: 88px;
    cursor: pointer;
    transition: background 0.25s linear 0s;
    -moz-transition: background 0.25s linear 0s;
    -webkit-transition: background 0.25s linear 0s;
    -o-transition: background 0.25s linear 0s;
}

.main-menu > li > a:hover{
    background-color: #02b691 !important;
    text-decoration: none;
}
.main-menu > li.login-menu > a{
    background: url(/images/login-icon.png) no-repeat 50px center;
    padding: 0 45px 0 85px; 
}
.main-menu > li.schedule > a{
    background: url(/images/schedule-icon.png) no-repeat 30px center;
    padding: 0 20px 0 70px; 
}
.main-menu > li.cart > a{
    background: url(/images/cart-icon.png) no-repeat 20px center;
    padding: 0 20px 0 75px; 
}
.main-menu > li.cart > a > span{
	display: block;
	position: absolute;
	left: 50px;
	top: 20px;
    font-family: Roboto;
	color: rgb(255, 255, 255);
	background-color: rgb(10, 184, 146);
	width: 23px;
	height: 23px;
	text-align: center;
	line-height: 23px;
	border-radius: 50%;

}
.main-menu > li.cart:hover  > a > span{
    color: rgb(10, 184, 146);
	background-color: rgb(255, 255, 255);

}
.profile{float: right !important}
.profile > li img{
    border-radius:100%;    
    width: 44px;
    height: 44px;
}
.profile > li{
    display: block;
    float: left;
    margin-left: 15px;
    cursor: pointer;
}
/*#header-banner img{width: 100%;max-height: 300px;}*/
/*
.header-bottom{
    background: url(/images/coffee-beans.jpg) no-repeat left center/cover;
    min-height: 260px;
    color: #fff;
    position: relative;
}
.header-bottom > .container{
    position: relative;
}
.header-bottom .info h1{
    color: #fff;
    font: 700 32px / 30px Roboto;
    text-transform: uppercase;
    margin: 35px 0 10px;
}
.header-bottom .info p{
    color: #ffffff;
    font: 700 14px Roboto;
}
.header-bottom .btn-banner{
    display: block;
    width: 141px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background-color: #02b691;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    right: 0;
    bottom: 55px;
     -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
#header-menu > .container{position: relative;}
*/
/* POP-UP*/
.popup{display: none;}
.menu-subs{display:none;}
.popup{
    top:110px;
    background-color: #ffffff;
    position: absolute;    
    padding: 15px;
    line-height: 24px;
    z-index: 100;
    min-width: 175px;
}
.sis-fixed #menu-schedule{
    top:70px;
}
#cat_popup{
    top: 128px;
    width: 320px;
    padding-top: 15px;
    position: fixed;
    left:17.5%;
/*
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
*/
}
#cat_popup .title{
    font-size: 20px;
    margin:0 0 20px;
    color: #515152;
}
.hot-deals{
    border-top: 1px solid #eae9e9;
    border-bottom: 1px solid #eae9e9;
}
.ul-hightlight li > a{
    font-size: 16px;
    color: #02b691;
    display: block;
    width: 100%;
    padding: 12px 0;
}
.ul-right > li > a{
    display: block;
    color: #515152;
    padding: 12px 10px;
}
.ul-hightlight li a:hover,
.ul-right li a:hover{
    background-color: #02b691;
    color:#fff;
    text-decoration: none;
}
/*.ul-right > li:last-child > a{padding-bottom: 0}*/
.ul-right > li > a > .fa{float: right;line-height: 24px;}
.menu-subs{
    position: absolute;
    top: 110px;
    left:-110px;
    background-color: #fff;
    padding: 12px;
    z-index: 100;
    width:380px;
   border: 1px solid #eee;
}
.menu-subs .detail > img{
    display: block;
    width:100%;
}
.menu-subs .detail{
    background-color: #000;
    display: block;
    width:100%;
    padding-bottom: 25px;
}
.menu-subs .detail > a{
    display: block;
    width:100%;
    max-width: 329px;
    text-align: center;
    height: 41px;
    line-height: 41px;
    border:1px solid #999;
    background-color: #ffffff;
    margin:13px auto 0;
    color: #898989;
    text-decoration: none;
    font-size: 14px;
}
.menu-subs .detail > a:last-child{
    background-color: #02b691;
    border: 1px solid #02b691;
    font: 700 14px / 30px Roboto;
    color: #fff;
}
.form-login{
    padding: 0;
    width:100%;
    max-width: 355px;
}
.form-login .top{
    background-color: #02b691;
    color: #ffffff;
    height: 80px;
    text-align: center;
}
.form-login .top .title{
    font: 700 21px / 30px Roboto;
    margin:0;
    padding-top: 15px;
}
.form-login .top > p{
    font-size: 14px;
    margin:0;
}
.form-login .top a {color: #ffffff;text-decoration: underline;}
.form-login .top a:hover{text-decoration: none;}
.form-login .bottom{padding: 15px;}
.form-login .social > a{
    display: block;
    float: left;
    line-height: 40px;
    margin-right: 12px;
    line-height: 35px;
    font-family: Roboto;
    font-weight: bold;
}
.form-login .social > a:last-child{margin-right:0px;}
.form-login .social .fa.fa-facebook{
    width:45px;
    border-right:1px solid #41598d;
    margin-right:12px;
}
.form-login .social .fa{
    width: 40px;
    height: 40px;
    color:#fff;
    text-align: center;
    line-height: 40px;
    font-size: 1.6em;
}
.form-login .social .fb{
    background-color: #536da3;
    color: #fff;
    padding-right: 10px;
    transition: all .4s linear;
    -moz-transition: all .4s linear;
    -webkit-transition: all .4s linear;
}
.form-login .social .fb:hover{
    background-color:#293754;
    text-decoration: none;
    transition: all .4s linear;
    -moz-transition: all .4s linear;
    -webkit-transition: all .4s linear;
}
.form-login .social .gg:hover{
    background-color: #922d18;
    text-decoration: none;
    transition: all .4s linear;
    -moz-transition: all .4s linear;
    -webkit-transition: all .4s linear;
}
.form-login .social .gg{
    background:#e3411f url('/images/google.png') no-repeat center center;
    width:40px;
    height: 40px;
    transition: all .4s linear;
    -moz-transition: all .4s linear;
    -webkit-transition: all .4s linear;
}
.form-login .social .tw{
    background-color: #1ebef0;
    margin: 0;
    transition: all .4s linear;
    -moz-transition: all .4s linear;
    -webkit-transition: all .4s linear;
}
.form-login .social .tw:hover{
    background-color: #177f9f;
    transition: all .4s linear;
    -moz-transition: all .4s linear;
    -webkit-transition: all .4s linear;
}
.form-login .social{overflow: hidden;}
#form-login .devide hr, #form-register .devide hr{
    margin: 0px;
    border-top: 1px solid #999;
}
#form-login .devide p{
    position: absolute;
    margin: 0px;
    display: inline-block;
    background-color: #fff;
    top: -12px;
    left: 127px;
    padding: 0px 20px;
    color: #898989;
    font-style: italic;
}
#form-login .devide, #form-register .devide{
    position: relative;
    margin-top:30px;
    margin-bottom: 20px;
}
.bottom .form-group .form-control{
    border: 1px solid #999;
    border-radius: 0px;
    color:#898989;
    height: 41px;
    padding-left:40px;
}
.bottom .form-group::-moz-placeholder, 
.bottom .form-group::-webkit-input-placeholder{
    color:#898989;
    opacity: 1;
}
.bottom .form-group #login-email, #register-email{ background: transparent url('/images/fly.png') no-repeat 10px center;}
.bottom .form-group #login-password, #register-password{ background: transparent url('/images/pass.png') no-repeat 10px center;}
.bottom .check-login{
    width:21px;
    height: 21px;
    position: relative;
    display: inline-block;
    left:10px;
}
.bottom .check-login label{
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 0px;
}
.bottom .check-login label i{
    font-size: 20px;
    position: absolute;
    top: -1px;
    color: #000;
    display:none;
}
#form-login .bottom form button, #form-register .bottom form button{font-size:14px; font-weight: bold;}
#form-login{
    display:none;
    top: 100px;
    left: 38.5%;
    position: fixed;
    box-shadow: 1px 1px 10px 1px #000;
    z-index: 9999;
}
#form-register{
    display:none;
    top: 100px;
    left: 38.5%;
    position: fixed;
    box-shadow: 1px 1px 10px 1px #000;
    z-index: 9999;
}
#form-register .devide p{
    margin: 0px;
    display: inline-block;
    position: absolute;
    padding: 0px 10px;
    top: -12px;
    left: 38px;
    font-size: 14px;
    color: #898989;
    font-style: italic;
    background-color: #fff;
}
.top-register .form-group{
    width:49%;
    float:left;
}
.top-register .form-group:first-child{margin-right:2%;}
#register-name{background: transparent url('/images/name.png') no-repeat 10px center;}
#form-register form > p{
    color:#898989; 
    line-height: 18px;
    text-align: center; margin-bottom: 20px;
}
#form-register form > .form-group:nth-child(2){position: relative; clear: both;}
#form-register form > .form-group:nth-child(2):before{
    content: "\f095";
    font-family: FontAwesome;
    position: absolute;
    font-size: 20px;
    color: #898989;
    top: 10px;
    left: 15px;
}
#form-register form > .form-group:nth-child(4){position: relative;}
#form-register form > .form-group:nth-child(4):after{
    content:"\f06e";
    font-family: FontAwesome;
    cursor: pointer;
    position: absolute;
    color:#898989;
    top: 15px;
    right: 10px;
    line-height: 10px;
}
/*END*/

/*END HEADER*/
/* FOOTER */
#footer .container{max-width: 1110px;}
.footer-bottom{
    background-color: #212121;
    color: #fff;
    padding: 15px 0 20px;
    border-top: 2px solid #fff;
}
.col-about{max-width: 300px;}
.col-blog{max-width: 280px;}
.col-link{max-width: 280px;}
.col-photo{max-width: 250px;padding: 0}
h4.title-ft{
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 40px;
}
#footer ul > li,
#footer ul > li a{
    color: #8d8d8d;
    text-decoration: none;
    line-height: 25px;
}
#footer ul > li a:hover{color: #fff;}
ul.news-ft li{margin: 0 0 15px;}
ul.news-ft p{margin: 0}
ul.further-link > li{min-height: 35px;}
.photo-stream > a{
    display: block;
    float: left;
    width: 33.33%;
    margin-bottom:10px;
}
.photo-stream > a > img{    
    width: 75px;
    height: 75px;
    margin-right: 10px;
}
.photo-stream > p a{
    color:#8d8d8d;
    padding-left: 25px;
    background: url('/images/flicker.png') no-repeat left center;
}

ul.social > li{
    display: block;
    float: left;
    width: 20px;
    margin-top: 50px;
}
/*.col-photo .title-ft{}*/
/* END FOOTER */

/* Home-page */
.home-page .slider{
    position: relative;
    top:-128px;
}
.slider .carousel-caption{
    right:0px;
    left:0px;
}
.slider.page .carousel-caption{
    top:0px;
    height: 100%;
    padding:0px;
}
.slider .slider-header .container{
    position: relative;
}
.slider .info h1{
    color: #fff;
    font: 700 32px / 30px Roboto;
    text-transform: uppercase;
    margin: 0px 0 10px;
    text-align: left;
}
.slider .info p{
    color: #ffffff;
    font: 700 14px Roboto;
    text-align: left;
}
.slider .btn-banner{
    display: block;
    width: 141px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background-color: #02b691;
    text-transform: uppercase;
    font-weight: 700;
     -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
}
.slider .btn-banner:hover{
    background-color: #167B67;
     -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
    text-decoration: none;
}
.slider .item img{
    width:100%;
    max-height: 420px;
}
.slider .container{position: relative;}
.slider.page .container{height: 100%;}
.slider .bottom-slider{
    background: transparent url('../images/bg-bottom-slider.png') no-repeat left top / 100% 100%;
    height: 50px;
    position: absolute;
    bottom: 0px;
    z-index: 99;
    width: 100%;
}
.slider .carousel-caption{
    top:35%;
}
/*page slide*/
.slider.page .item img{
    max-height: 300px;
}
.slider.page .info p{position: absolute; top:76%; margin:0px}
.slider.page .info h1{position: absolute; top:55%; margin:0px}
.slider.page .btn-banner{position: absolute; top:60%; right:15px;}
/*end-slider*/
.block-title{
    color: #000;
    font: 900 32px / 30px Arial;
    margin: 40px 0 25px;
    text-transform: uppercase;
}
.section-title{
    color: #000;
    font: 400 32px / 25px Roboto;
    margin: 0;
    vertical-align: sub;
    display: inline-block;
}
a.load-more{
    display: inline-block;
    color: #000;
    font: 400 14px / 40px Roboto;
    text-transform: uppercase;
    width: 110px;
    height: 40px;
    text-align: center;
    border: 1px solid #000;
    margin-left: 30px;
    margin-bottom: 20px;
}
.list-products{margin-bottom: 40px;}
.product{border:1px solid #fff;overflow: hidden;}
.product .main-img img{
    max-width: 100%;
}
.product .content{
    width: 100%;
    position: relative;
    color:#fff;
}
.product .detail{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-left: 12px;
    background-color: rgba(2, 182, 145, 0.9);
    -webkit-transition: .5s ease-in-out;
     -moz-transition: .5s ease-in-out;
       -o-transition: .5s ease-in-out;
      -ms-transition: .5s ease-in-out;
          transition: .5s ease-in-out;
}
.product .option,.product .desc{display: none;}
.product .title{
    font: 400 18px Roboto;
    margin:25px 0 4px;
    padding-left: 12px;
}
.product .price{font: 100 18px Roboto;margin-bottom:15px;padding-left: 12px;}
.btn-product{
    display: inline-block;     
    border-radius: 6px;
    border:1px solid #fff;
    font: 400 11.9px Roboto;
    text-transform: uppercase;
    padding: 11px 22px;    
    cursor: pointer;
}
.add-cart{    
    position: absolute;
    right: 12px;
    bottom:22px;
}
.option{
  display: block;
  width: 100%;
  height: 90px;
  background-color:rgba(2, 182, 145, 0.9);
  text-align: center;
}
.option > p {
  display: block;
  margin: 0 auto;
  height: 90px;
  float: left;
}
.option p > *{
  display: block;
  font-weight: 100;
      ;
}
.feedback-block{
    background:url(/images/feedback.png) no-repeat center / cover;
    padding: 50px 0 45px;
    color: #ffffff;
    font: 400 24px Roboto;
}
.feedback-block .author{
    display: block;
    margin-top:30px;
}
.feedback-block .author-img{
    display: block;
    text-align: center;
    overflow: hidden;
}
.feedback-block .author-img img{    
    max-width: 100%;
    border-radius: 50%;
    vertical-align: middle;
}
.rating > span{
    display: block;
    float: left;
    width: 45px;
    height: 35px;
    background: url(/images/start.png) no-repeat left center;
    margin-top: 15px;
}
.checkout-block{margin-top:-128px;}
.checkout-block .block-title{color: #26b99a;}
.tour-works li{
    display: block;
    width: 100%;
    padding-left: 55px;
    color: #262626;
    font: 700 14px Roboto;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.tour-works .pick{background: url(/images/pick-cf.png) no-repeat 10px center;}
.tour-works .date{background: url(/images/pick-date.png) no-repeat 5px center;}
.tour-works .enjoy{background: url(/images/pick-joy.png) no-repeat left center;}
.tour-works li > p{margin: 0;}
.tour-works li > p:last-child{font-weight: 400;text-transform: none;}
.pick-block{background-color: #262626;color: #ffffff;padding-bottom: 65px; position: relative;}
.pick-block > form > .container{position: relative;}
.checkout-block .pick-block .block-title{color: #fffefe;}
.pick-block label{font-size: 18px; font-weight: 400;}
/*
.select2-dropdown{
    transition: all 2s ease;
    -moz-transition: all 2s ease;
    -webkit-transition: all 2s ease
}
*/
#calende .form-control:focus{
    box-shadow: none;
    -webkit-box-shadow: none;
    border:none;
}
#calende .form-control{
    border-radius:6px;
}
.select2-container--open{
    border-radius:6px;
}
.select2-container{
	border-radius: 6px;
}
.select2-container--default .select2-selection--single {
	background-color: transparent;
    border: 1px solid #fff;
	border-radius: 6px !important;
    height: 44px;
}
.select2-container--open .select2-selection--single{
    
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #fff;
    font: 400 18px / 44px Roboto;
}
.select2-selection__arrow > b{
    display: none;}
.select2-selection__arrow {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    font-size: 3em;
    line-height: 44px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 44px;
	width: 40px;
    transition: all 2s ease;
    -moz-transition: all 2s ease;
    -webkit-transition: all 2s ease;
}
.select2-selection__arrow::before{content: "\f107";}
.select2-container--open .select2-selection__arrow::before{content: "\f106";}
.select2-container.select2-container--open .select2-dropdown--below{
    border-radius: 6px;
}
.select2-container ul > li.select2-results__option{
    border-radius: 6px;
    padding:8px 0px 8px 10px;
}
.select2-container--default .select2-selection--single:hover{
    box-shadow: inset 0px 0px 0px 1px #02B691;
    -webkit-box-shadow: inset 0px 0px 0px 1px #02B691;
}
label[for='ask_delitm']{
    color: #ffffff;
    font: 400 18px Roboto;
    border-radius: 6px;
    background-color: #02b691;
    width: 63px;
    line-height: 25px;
    text-align: center;
}
.ask_delitm > label{font: 400 18px Roboto;}
.for-detail .col-md-9{
    border-top:1px solid #fff;
    margin-top:45px;
    padding-top: 25px;
    padding-left: 50px;
    background: url(/images/question.png) no-repeat left center;
}
.for-detail .col-md-9 h5{font-size: 18px;margin: 0}
.for-detail .col-md-9 p{font-size: 14px;}
.for-detail .col-md-9 a{color: #fffefe;text-decoration: underline}
.for-detail button{
    display: block;
    margin-top: 45px;
    font-size: 18px;
    width: 180px;
    border-radius: 6px;
    background-color: #02b691 !important;
    line-height: 74px;
    text-align: center;
    padding: 0;
}
.for-detail button:focus,
.for-detail button:hover {
    color: #fff;
    text-decoration: none;
    opacity: 0.9;
}
#cart-item .bottom-info a:hover{
    background-color: #d8d8d8;
    text-decoration: none;
    transition: all .2s ease ;
    -moz-transition: all .2s ease ;
    -webkit-transition: all .2s ease ;
}
#cart-item .cat-top-info p i {
    padding: 3px;
    color: #fff;
    background-color: transparent;
    margin: 0 10px;
    cursor: pointer;
}
#cart-item .cat-top-info p i.glyphicon{
    background-color:#02b691
}
#cart-item .cat-top-info p i.close-cart{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 0px;
    color: #879999;
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 20px;
    position: relative;
    top: 3px;
    border-radius:100%;
    padding: 0px;
    text-align: center;
    margin-top: -3px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
#cart-item .close-cart:hover{background-color: red}
.schure {
    height: 223px;
    background: url(/images/bg-schure.png) no-repeat left top /100%;
    text-align: center;
    line-height: 223px;
    width: 100%;
}   
.schure p{
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-family: Arial;
}
/* End home*/
#cart-item .bottom-info a > i{
    font-size: 20px;
    position: relative;
    left: 10px;
    top: 3px;
}
#cart-item .bottom-info a{
    transition: all .2s ease ;
    -moz-transition: all .2s ease ;
    -webkit-transition: all .2s ease ;
}
.date-picker .form-control::-moz-placeholder{
    color:#fff;
/*    opacity: 1;*/
}
.date-picker input[type="text"]::-webkit-input-placeholder{color:#fff}
#ui-datepicker-div{
    width:355px;
    height: 445px;
    position: absolute;
    z-index: 999999999;
    background:#fff;
    top:1px;
    right: 0px;
    padding:60px 45px;
    border: none;
    border-radius: 0;
/*    margin-top: 153px;*/
}
#ui-datepicker-div h5{
    font-family: open;
    font-size: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #000;
    line-height: 20px;
    max-width: 145px;
    padding-bottom: 25px;
    border-bottom: 1px solid #000;
    margin-bottom: 35px;
}
#ui-datepicker-div .ui-datepicker-inline{
    border: medium none;
    padding: 0px;
    border-radius: 0px;
}
#ui-datepicker-div .ui-datepicker .ui-datepicker-header{
    padding:0px;
    border: medium none;
    border-radius: 0px;
    background-color:#fff;
}
#ui-datepicker-div .ui-datepicker-prev:before{
    content: "\f104";
    font-family: FontAwesome;
    color:#000;
    font-size: 24px;
    display: inline-block;
    position: relative;
    top: -8px;
}
#ui-datepicker-div a.ui-state-hover{border: none;}
#ui-datepicker-div .ui-datepicker-next:after{
    content: "\f105";
    font-family: FontAwesome;
    color:#000;
    font-size: 24px;
    display: inline-block;
    position: relative;
    top: -8px;
    left: 16px;
}
#ui-datepicker-div .ui-datepicker .ui-datepicker-title{
    font-size: 12px;
    font-family: open;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 45px;
}
#ui-datepicker-div .ui-state-default, 
#ui-datepicker-div .ui-widget-content .ui-state-default, 
#ui-datepicker-div .ui-widget-header .ui-state-default{
    border: none;
    background: transparent;
    font-weight: normal;
    color: #000;
    text-align: center;
}
#ui-datepicker-div .ui-state-highlight, 
#ui-datepicker-div .ui-widget-content .ui-state-highlight, 
#ui-datepicker-div .ui-widget-header .ui-state-highlight{
    border: none;
    background: #c8d7d4;
}
#ui-datepicker-div .ui-state-hover,
#ui-datepicker-div .ui-widget-content .ui-state-hover,
#ui-datepicker-div .ui-widget-header .ui-state-hover,
#ui-datepicker-div .ui-state-focus,
#ui-datepicker-div .ui-widget-content .ui-state-focus,
#ui-datepicker-div .ui-widget-header .ui-state-focus {
	border: none;
	background: transparent;
	font-weight: bold;
	color: #000;
}
.ui-datepicker .ui-datepicker-prev {left:0px !important; top:1px !important; cursor: pointer}
.ui-datepicker .ui-datepicker-next {right:0px !important; top:1px !important; cursor: pointer}

#ui-datepicker-div .ui-datepicker-prev-hover{left: 0px;}
#ui-datepicker-div .ui-datepicker-next-hover{right: 0px;}
/*
#ui-datepicker-div .ui-state-hover .ui-icon,
#ui-datepicker-div .ui-state-focus .ui-icon {
	background-image: none;
}
*/
.date-picker .fa-calendar::before{
    content:url('/images/schedule-icon.png');
}
#ui-datepicker-div .ui-datepicker .ui-datepicker-prev, 
#ui-datepicker-div .ui-datepicker .ui-datepicker-next{top:1px; cursor: pointer;}
#ui-datepicker-div .ui-datepicker-title{
    font-size: 18px;
    text-transform: uppercase;
    margin:-7px 0 0;
    background: #fff;
    font-weight: 200;
    font-family: open;
    letter-spacing: 3px;
    padding-bottom: 45px;
}
/*checkbox
.delitm-checkbox{
    display: inline-block;
    position: relative;
    top: -10px;
}
.delitm-checkbox input[type="checkbox"] {
    display:none;
}
.delitm-checkbox input[type="checkbox"] + label{
    display:inline-block;
    width:21px;
    height:21px;
    background:#262626;
    border-radius:5px;
    border: 1px solid #fff;
}
.delitm-checkbox label:before{
    content:'';
    width: 17px;
    height: 11px;
    display: inline-block;
    position: absolute;
    background: transparent url('/images/checkbox.png');
}
*/
/* .squaredThree */
.delitm-checkbox {
    width: 21px;
    position: relative;
    height: 21px;
    display: inline-block;
    top:-10px;
    left:20px;
}
.delitm-checkbox label, .check-login label {
    width: 21px;
    height: 21px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #262626;
    border-radius: 4px;
    border:1px solid #fff
}
.delitm-checkbox label span {
    width: 17px;
    height: 12px;
    position: absolute;
    background: transparent url('/images/checkbox.png') no-repeat;
    opacity: 1;
    top: 5px;
    left: 2px;
    display: block;
}
.delitm-checkbox input[type=checkbox], .check-login input[type=checkbox]{
    visibility: hidden;
}
.delitm-checkbox input[type=checkbox]:checked + .delitm-checkbox label span { opacity: 1;}
/*PLUS*/
.bg-popup .bottom .plus{
    float:left;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    padding-top:12px;
    border-top:1px solid #e6e6e5; 
}
.bg-popup .bottom .plus .fa-heart-o{
    color:#f34336;
    font-size:30px;
    position: absolute;
    right:165px;
    font-size:33px;
    cursor: pointer;
}
.bg-popup .bottom .plus .button{
    display: inline-block;
    float: right;
    overflow: hidden;
    width: 145px;
    padding:5px 15px;
    line-height: 20px;
    background-color:#02b691;
    border-radius:5px;
    transition:all .25s cubic-bezier(0.310, -0.105, 0.430, 1.400);
    -moz-transition:all .25s cubic-bezier(0.310, -0.105, 0.430, 1.400);
    -webkit-transition:all .25s cubic-bezier(0.310, -0.105, 0.430, 1.400);
    position: relative;
    height: 33px;
    cursor: pointer;
}
.bg-popup .bottom .plus .button > span{
    color: #fff;
    opacity: 1;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    border-right: 1px solid #d5d5d4;
    padding-right: 10px;
    margin-right: 10px;
    margin-top:1px;
    transition:all .25s cubic-bezier(0.310, -0.105, 0.430, 1.400);
    -moz-transition:all .25s cubic-bezier(0.310, -0.105, 0.430, 1.400);
    -webkit-transition:all .25s cubic-bezier(0.310, -0.105, 0.430, 1.400);
    float: left;
    position: absolute;
}
.bg-popup .bottom .plus .button:hover{text-decoration: none;}
.bg-popup .bottom .plus .button:hover span{
    left: -72%;
	opacity: 0;
    transition:all .25s cubic-bezier(0.310, -0.105, 0.430, 1.400);
    -moz-transition:all .25s cubic-bezier(0.310, -0.105, 0.430, 1.400);
    -webkit-transition:all .25s cubic-bezier(0.310, -0.105, 0.430, 1.400);
}
.bg-popup .bottom .plus .button:hover .wrap{
    right:65px;
    transition:all .25s cubic-bezier(0.310, -0.105, 0.430, 1.400);
    -moz-transition:all .25s cubic-bezier(0.310, -0.105, 0.430, 1.400);
    -webkit-transition:all .25s cubic-bezier(0.310, -0.105, 0.430, 1.400);
}
.bg-popup .bottom .plus .button:hover .wrap > i{font-size: 28px;} 
.bg-popup .bottom .plus .button .wrap{
    display:inline-block;
    width:15%;
    float: left;
    position: absolute;
    right: 10px;
}
.plus .button  .wrap > i {
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    position: relative;
    top: 2px;
}
.wrap i.glyphicon-plus{
    display: block;
}
.wrap i.fa-check{
    display: none;
}
.wrap.success i.glyphicon-plus{
    display:none;
}
.wrap.success i.fa-check{
    display:block;
}
#ui-datepicker-div{
/*    top:79.5% !important;*/
/*    left:57.4% !important;*/
}
#header-menu{
    max-height: 88px;
    transition:all .8s ease-in-out 0s;
    -moz-transition:all .8s ease-in-out 0s;
    -o-transition:all .8s ease-in-out 0s;
    -webkit-transition:all .8s ease-in-out 0s;
    -ms-transition:all .8s ease-in-out 0s;
}
#header-menu.is-fixed{
    position: fixed;
    top:0px;
/*    background: transparent url('/images/bg_nav1.png');*/
    background-color: rgba(0,0,0,.6);
    width:100%;
    transition:all .8s ease-in-out 0s;
    -moz-transition:all .8s ease-in-out 0s;
    -o-transition:all .8s ease-in-out 0s;
    -webkit-transition:all .8s ease-in-out 0s;
    -ms-transition:all .8s ease-in-out 0s;
    max-height: 70px;
    line-height: 70px;
}
#header-menu.is-fixed,
#header-menu.is-fixed .main-menu li a,
#header-menu.is-fixed .categories-menu,
.main-menu > li.cart > a > span,
.main-menu > li > a,
#header-menu{
    transition:all .8s ease-in-out 0s;
    -moz-transition:all .8s ease-in-out 0s;
    -o-transition:all .8s ease-in-out 0s;
    -webkit-transition:all .8s ease-in-out 0s;
    -ms-transition:all .8s ease-in-out 0s;
}
#header-menu.is-fixed .main-menu li a > span.count{
    display:block;
}
#header-menu.is-fixed .main-menu li a > span,
#header-menu.is-fixed .main-menu li a > p{
    display: none;
}
#header-menu.is-fixed .main-menu > li > a{
    height: 70px;
    line-height: 70px;
    background-position: center center;
    padding:0px 90px;
}
#header-menu.is-fixed .main-menu > li.cart > a > span{
    left:110px;
    top:10px;
}
#header-menu.is-fixed .categories-menu{
    transition:all .8s ease-in-out 0s;
    -moz-transition:all .8s ease-in-out 0s;
    -o-transition:all .8s ease-in-out 0s;
    -webkit-transition:all .8s ease-in-out 0s;
    -ms-transition:all .8s ease-in-out 0s;
    height: 60px;
    top:10px;
}
#header-menu.is-fixed #logo img{max-height: 60px;}
/*.wrap-login, .wrap-cart,*/ #bg_wrap, .wrapSub{
    position: fixed;
    display: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.8);
}
.wrapSub{
    width: 100%;
    position: fixed;
    z-index: 9999;
    display:none;
    top: 0px;
}
.wrapSub .menu-subs{
    display:block; 
    margin: 0 auto;
    position: relative;
    top:5%; 
    left:0px;
}
.wrapSub.subScrice , .bgSub.subScrice{
    display:block;
}
#form-login > a > i, #form-register > a > i{
    display: inline-block;
    color: white;
    font-size: 25px;
    position: absolute;
    top: -20px;
    cursor: pointer;
    transition: all .4s linear;
    -moz-transition: all .4s linear;
    -webkit-transition: all .4s linear;
    right:-22px;
}
#form-login > a > i:hover, #form-register > a > i:hover, #cart-item > a > i:hover{
    transition: all .4s linear;
    -moz-transition: all .4s linear;
    -webkit-transition: all .4s linear;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    color:#02B691;
}
.wrapSub .menu-subs > a > i{
    position: absolute;
    top: -5px;
    color: #fff;
    right: -20px;
    font-size: 18px;
    cursor: pointer;
    transition: all .4s linear;
    -moz-transition: all .4s linear;
    -webkit-transition: all .4s linear;
}
.wrapSub .menu-subs > a > i:hover{
    color:#fff;
    transition: all .4s linear;
    -moz-transition: all .4s linear;
    -webkit-transition: all .4s linear;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
#cart-item > a > i{
    position: absolute;
    top: 5px;
    color: rgb(2, 182, 145);
    right: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: all .4s linear;
    -moz-transition: all .4s linear;
    -webkit-transition: all .4s linear;
}
/**ProFIle**/
.avata > a{
    display:block;
}
.avata > .wrap{
    max-width: 217px;
    height: 217px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}
.avata > .wrap > a > img{
    width:217px;
    height: 217px;
}
.avata > .wrap > .mask{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color:rgba(0,0,0,.6);
    transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    opacity: 0;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    border-radius: 100%;
}
.avata > .wrap:hover .mask{
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}
.avata > .wrap > .mask > a{
    color:  #02B691;
    display: block;
    position: absolute;
    top: 46%;
    left: 35%;
    font-weight: 700;
}
.avata > .wrap > .mask > a:hover{
    text-decoration: none;
    color:#fff
}
.profilePage .form-control::-moz-placeholder{
    color:#515252;
    opacity: 1;
}
.profilePage .form-control::-webkit-input-placeholder{
    color:#515252;
}
.profilePage .form-control::-ms-input-placeholder{color:#515252;}
.profilePage .form-control{color:#515252;}
/***CheckOut***/
.checkCart{
    padding: 0 15px;
}
.checkCart .topCart{
    padding-left:40px;
}
.checkCart .title-h2{
    font-size: 21px;
    font-family: Arial;
    line-height: 30px;
    margin:0px 0px 20px;
    color: #02b691;
    font-weight: 900;
    text-transform: uppercase;
    display: inline-block;
    
}
.checkCart .title-h2 > span{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    display: inline-block;
    background-color: #02b691;
    padding: 0px 10px;
    text-transform: none;
    margin-left: 95px;
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    cursor: pointer;
}
.topCart ul{overflow: hidden;}
.topCart ul .first{
    width:11%;
    display: inline-block;
    max-width: 100px;
}
.topCart ul li{
    display:inline-block;
    float:left;
}
.topCart li > span{
    display:block;
    color: #515152;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
    line-height: 30px;
}
.topCart .first > span > i, .serviceCart .col-one > span > i, .scheduleMore ul li:first-child > i{
    color: #879999;
    margin-right: 20px;
    cursor: pointer;
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 20px;
    position: relative;
    top: 3px;
    border-radius: 100%;
    padding: 0px;
    text-align: center;
    margin-top: -3px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    display:inline-block;
}
.topCart .second{
    width:48%;
    margin-left: 7%;
}
.topCart .third{
    width:11%;
    max-width: 100px;
    text-align: center;
}
.topCart .third span > i{
    color:#ffffff;
    width: 30px;
    display: inline-block;
    background-color: #02b691;
    text-align: center;
    line-height: 30px;
    margin-right:10px;
    cursor: pointer;
}
.topCart .third span > i.glyphicon-minus{
    margin-right:0px;
    margin-left: 10px;
}
.topCart .fourth{
    width:4%;
    margin: 0 5%;
    text-align: center;
}
.topCart .fourth > span > i{
    color: #02b691;
    font-size:30px;
}
.topCart .fifth{
    width:9%;
    text-align: right;
    float:right;
}
.voucherCart p{
    margin: 0px;
    overflow: hidden;
    width: 80%;
    float: left;
}
.voucherCart label{
    color: #515252;
    font: 400 16px Roboto;
    display: inline-block;
    float: left;
    line-height: 30px;
    padding-right: 30px;
    margin: 0px;
}
.voucherCart .form-control{
    float: left;
    max-width: 225px;
    height: 30px;
    border: 2px solid rgb(81, 82, 82);
    border-radius: 0px;
    width: 25%;
    color: #515252;
}
.voucherCart > span{
    display:block;
    width:20%;
    float:left;
    text-align: right;
    text-transform: uppercase;
    font: 400 16px Roboto;
    color: #515152;
    line-height: 30px;
}
.topCart .voucherCart{
    overflow: hidden;
    margin: 10px 0px;
    padding:10px 0px;
    border-bottom: 1px solid #eae9e9;
    border-top: 1px solid #eae9e9;
}
.topCart .serviceCart{
    padding-bottom: 30px;
    border-bottom: 1px solid #eae9e9;
    margin-bottom: 45px;
}
.serviceCart .col-one{
    width:11%;
    max-width: 100px;
}
.serviceCart .col-two{
    margin-left: 7%;
    width:73%;
}
.serviceCart .col-three{
    width:9%;
    text-align: right;
    float:right;
}
.serviceCart > span{
    display: block;
    text-align: right;
    text-transform: uppercase;
    line-height: 20px;
    color: #515152;
    font-size: 16px;
    font-weight: 700;
}
.checkOut .next{
    display: inline-block;
    background-color: #02b691;
    color: #ffffff;
    font: 400 16px Roboto;
    text-transform: uppercase;
    line-height: 30px;
    padding: 0 30px;
    margin-top: 20px;
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
}
.checkOut .next:hover, .checkCart .title-h2 > span:hover{
    text-decoration: none;
    background-color:#167B67;
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
}
.checkOut .customerInfo{padding-left:40px;}
.topForm label{
    color: #515252;
    font: 400 16px Roboto;
    line-height: 40px;
    text-transform: uppercase;
    margin: 0px;
}
.topForm .form-control{
    border:2px solid #515252;
    color:#515252;
    border-radius: 0px;
    height: 40px;
    padding: 12px 15px;
}
.topForm{overflow: hidden;}
.topForm .formLeft, .bottomForm .local{
    width: 35%;
    max-width: 330px;
    float: left;
}
.topForm .formLeft{width:100%; overflow: hidden; max-width: 100%;}
.formLeft label, .right label{
    display: inline-block;
    float:left;
    padding-right:15px;
    width: 34%;
    text-align: right;
}
.showForm input{width:66%; float:left}
.formLeft p:first-child label{text-align: left;}
.formLeft p{
    margin: 0px;
    width:33.33333%;
    float:left
}
.formLeft input{
    width: 66%;
    float:right;
}
.right .message.showForm label{
    text-align: center; 
    line-height: 20px;
    width: 17%;
}
.showForm:last-child{width:100%;}
.message.showForm textarea{
    width:83%;
    border: 2px solid #515252;
    padding:6px 15px;
    max-height: 80px;
}
.formRight .left{padding-left:106px; margin:14px 0px 15px;}
.formRight .left > span {
    display: inline-block;
    width:30px;
    height: 30px;
    float: left;
}
.formRight .left > span .form-control{
    width: 30px;
    height: 30px;
    margin: 0px;
    visibility: hidden;
}
.formRight .left > span > label{
    width: 30px;
    height: 30px;
    padding: 0px;
    border: 2px solid #02b691;
    cursor: pointer;
    position: relative;
}
.formRight .left > span > label > i{
    position: absolute;
    font-size: 27px;
    color: #02b691;
    display:none;
}
.formRight .left > label{
    width: 80%;
    float: left;
    padding-left: 20px;
    line-height: 30px;
    padding-right: 0px;
    text-align: left;
}
.topForm div.formRight{
    display:block;
    width:100%;
}
.showForm{display:none; width:50%; overflow: hidden; float:left; margin-top:15px;}
.topForm .formRight, .bottomForm .address{
    float: left;
    width: 65%;
}
.formRight > div.right{
    width:66.7%;
    float:left;
    margin-bottom: 15px;
}
.formRight > div:first-child{
    width:33.3%;
    float:left;
}
.formRight > div > label{
    width:29%;
    padding-right: 15px;
    float:left;
    text-align: right;
}
.formRight > div > input{
    width:71%; float:left;
}
/*.formRight > div:last-child{width:100%;margin-bottom: 0px;}*/
/*
.formRight > div:last-child > label{
    width: 14.5%;
    line-height: 20px;
}
.formRight > div:last-child > label > span{
    text-transform: none;
}
.formRight > div:last-child > textarea{
    width:85.5%;
    border: 2px solid #515252;
    padding: 12px 15px;
    max-height: 80px;
    color: #515252;
}
*/
.local label{
    display: inline-block;
    float: left;
    width: 32%;
    color: #515252;
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
    margin: 0px;
    font-weight: 400;;
}
.local select{
    width:68%;
    float:left;
    border: 2px solid #515252;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
    background: transparent url('/images/icondown.png') no-repeat 190px center / 20px 12px;
    padding-left: 15px;
}
.address .input-group{
    border:2px solid #515252;
}
.address > .input-group > input.form-control{
    border-radius: 0;
    border: none;
    padding: 0px 15px;
    height: 37px;
}
/*.bottomForm .address{padding-left:10px;}*/
.address > .input-group > .input-group-addon{
    background-color:transparent;
    border-radius:0;
    border:none;
    cursor: pointer;
}
.bottomForm > span, .scheduleMore > span, .payName > span{
    display: block;
    clear: both;
    text-align: right;
}
.customerInfo .form-control::-moz-placeholder, 
.customerInfo textarea::-moz-placeholder, 
textarea::-moz-placeholder,
.voucherCart .form-control::-moz-placeholder{
    color: #515252;
    opacity: 1;
}
.voucherCart .form-control::-webkit-input-placeholder,
.customerInfo .form-control::-webkit-input-placeholder,
.customerInfo textarea::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{color: #515252;}
.bottomForm{
    padding-bottom: 30px;
    border-bottom: 1px solid #eae9e9;
    margin-bottom: 45px;
}
.checkCart .scheduleMore{
    padding-left:40px;
}
.scheduleMore li{
    float:left;
    line-height: 30px;
}
.scheduleMore ul{overflow: hidden}
.scheduleMore ul li:first-child{
    width:3%;
    color: #879999
}
.scheduleMore ul li:nth-child(2){width:92%; color: #515252;}
.scheduleMore ul li:last-child{
    width:5%;
    text-align: right;
    color: #02b691;
    font-size: 30px
}
.payName{padding-left:40px;}
.checkOut{padding-bottom: 70px;}
.payName label{
    color: #515252;
    font: 400 16px Roboto;
    line-height: 40px;
    margin: 0px;
    max-width: 170px;
    width:18%;
    float:left
}
/*
.payName .selectPay > label{
    float:left;
}
*/
.payName .selectPay > select{
    width:82%;
    max-width: 225px;
    height: 40px;
    border: 2px solid #515252;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
    background: transparent url('/images/icondown.png') no-repeat 190px center / 20px 12px;
    padding-left: 15px;
}
.payName .selectPay{overflow: hidden; margin-bottom: 20px;}
.addPay textarea{
    border: 2px solid #515252;
    max-height: 85px;
    width: 82%;
    float: left;
    padding: 15px;
}
#cart-item{display:none; z-index: 9999}
#cat_popup.categoryFix{
    top:70px;
    z-index: 999;
/*
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
*/
}
#menu-lang.langFix{
    top:70px;
    z-index: 999;
/*
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
*/
}
/*
#menu-lang{
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
}
*/
.checkOut .select2-container{
    border-radius:0px;
}
.checkOut .select2-container--default .select2-selection--single{
    height: 40px;
    border: 2px solid #515252;
    border-radius: 0 !important;
}
.checkOut .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 38px;
    color: #515252;
    font-size: 14px;
    padding-left: 15px;
}
.checkOut .select2-container--default .select2-selection--single .select2-selection__arrow{
    line-height: 38px;
    top: 2px;
    color: #515252;
    height: 40px;
}
.checkOut .select2-dropdown{
    border: 2px solid #515252;
}
#click-register, #click-login{cursor: pointer;}
#proFile, .page-product{margin-top:-128px;}
#popup-home-page > .wrap{
    padding: 30px; background-color: #fff;overflow: hidden;
    position: relative;
}
#popup-home-page > .wrap .topBottom{overflow: hidden; margin: 25px 0px;}
#popup-home-page > .wrap .topBottom > p{
    margin:0px;
}
.form-qr .col-xs-12{padding:0px !important;}