<!-- BEGIN GLOBAL MANDATORY STYLES -->
<!--link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"/>
<link href="{{myConfig.asset_url + 'global/plugins/font-awesome/css/font-awesome.min.css'}}" rel="stylesheet"/>
<link href="{{myConfig.asset_url + 'global/plugins/simple-line-icons/simple-line-icons.min.css'}}" rel="stylesheet"/>
<link href="{{myConfig.asset_url + 'global/plugins/bootstrap/css/bootstrap.min.css'}}" rel="stylesheet"/-->
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="/themes/quanly/assets/admin/pages/css/login3.css" rel="stylesheet"/>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME STYLES -->
<!--link href="{{myConfig.asset_url + 'global/css/components.css'}}" id="style_components" rel="stylesheet"/>
<link href="{{myConfig.asset_url + 'global/css/plugins.css'}}" rel="stylesheet"/>
<link href="{{myConfig.asset_url + 'admin/layout/css/layout.css'}}" rel="stylesheet"/>
<link href="{{myConfig.asset_url + 'admin/layout/css/custom.css'}}" rel="stylesheet"/-->
<div class="logo">
    <a href="">
        <img href="{{myConfig.asset_url + 'admin/layout/img/logo-big.png'}}" alt=""/>
    </a>
</div>
<!-- END LOGO -->
<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGIN -->
<div class="content">
    <!-- BEGIN LOGIN FORM -->
    <form class="login-form" ng-submit="login()" role="form">
        <h3 class="form-title">Login to your account</h3>
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
		    <span>Enter any username and password. </span>
        </div>
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Username</label>
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input class="form-control placeholder-no-fix" type="tel" placeholder="Username" ng-keypress="dangnhap($event)" required name="identity" ng-model="username">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Password</label>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control placeholder-no-fix" type="password" placeholder="Password" ng-keypress="dangnhap($event)" required name="password" ng-model="password">
            </div>
        </div>

        <div class="form-actions">
            <label class="checkbox"><input type="checkbox" name="remember" value="1" disabled=""> Remember me </label>
            <button type="submit" class="btn green-haze pull-right" ng-disabled="form.$invalid || dataLoading">
                Login <i class="m-icon-swapright m-icon-white"></i>
            </button>
        </div>

        <p>{{error}}</p>

    </form>
    <!-- END LOGIN FORM -->
</div>
    <!--div class="login-container animated fadeInDown">
        <div class="loginbox bg-white">
            <div class="loginbox-title">SIGN IN</div>
            <div class="loginbox-social">
                <div class="social-title ">Connect with Your Social Accounts</div>
                <div class="social-buttons">
                    <a href="" class="button-facebook">
                        <i class="social-icon fa fa-facebook"></i>
                    </a>
                    <a href="" class="button-twitter">
                        <i class="social-icon fa fa-twitter"></i>
                    </a>
                    <a href="" class="button-google">
                        <i class="social-icon fa fa-google-plus"></i>
                    </a>
                </div>
            </div>
            <div class="loginbox-or">
                <div class="or-line"></div>
                <div class="or">OR</div>
            </div>
            <form name="form" ng-submit="login()" role="form">
            <div class="loginbox-textbox">
                <input type="text" class="form-control" ng-model="username" placeholder="Username" required />
            </div>
            <div class="loginbox-textbox">
                <input type="password" class="form-control" ng-model="password" placeholder="Password" required />
            </div>
            <div class="loginbox-forgot">
                <a href="">Forgot Password?</a>
            </div>
            <div class="loginbox-submit text-center">
                <input type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary btn-block" value="Login">
                <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
            </div>
            </form>
        </div>
    </div-->