@media print {
    @page {
        size: 21cm 29.7cm !important;
        /*size: portrait;*/
        /*margin: 2mm 2mm 2mm 2mm;*/
        /*font-size: 60% !important;*/
    }
    body, html {
        font-size: 9px !important;
        /*transform: scale(.7);*/
        height: 100% !important;
    }
    .table.mt5 td, .table.mt5 th {padding: 4px; font-size: 9px !important;}
    .table.mt5 {margin-bottom: 0 !important;}
    .mb0 {margin-bottom: 0 !important;}
    .innghieng {font-style: italic;}
    .hasDiscount span {
        text-decoration: line-through !important;
        font-weight: 700;
    }
}
h3 {font-weight: bold !important; font-size: 13px !important;}
img {height: auto;}
.print_hidden {display: none;}
.divider-vertical:before {
    content: "";
    display: block;
    border-left: solid 1px black;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
}
.mb0 {margin-bottom: 0 !important;}
.innghieng {font-style: italic;}