.page-sidebar-closed .page-sidebar li span.title, .page-sidebar-closed .page-sidebar li.heading h3.uppercase {
    /*display: none;*/
}
.page-sidebar-closed .page-sidebar .sidebar-toggler {
    /*margin-right: 8px !important;*/
}
.page-sidebar-closed .page-sidebar li ul.sub-menu {
    /*left: 46px;*/
}