@import url('style_ta.css');
@import url('responsive.css');
@import url('responsive_ta.css');

body
{
    font-family: Roboto, sans-serif;
}
.container
{
    max-width: 1020px;
}
a
{
    cursor: pointer;
    text-decoration: none;
}
ul
{
    margin: 0;
    padding: 0;

    list-style: none;
}
.toppingSelecteds > span
{
    font: 400 16px Roboto, sans-serif;

    display: inline-block;

    margin: 3px;
    padding: 5px 10px;

    cursor: pointer;
    text-decoration: none;

    color: #fff;
    border: 1px solid #eee;
    border-radius: 7px;
    background-color: #02b691;
}

.cart_quantity i {
    line-height: 20px;
    display: inline-block;
    width: 20px;
    margin: 0 5px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #02b691;
}
.cart_quantity div {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    display: block;
    padding-bottom: 10px;
    color: #515152;
}
.cart_quantity span {
    display: inline-block;
    width: 20px;
    font-weight: 700;
    text-align: center;
}
.cart_edit i {
    font-size: 30px;
    color: #02b691;
}
.cart_subtotal {
    text-align: right;
}
.cart_subtotal span {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    display: block;
    padding-bottom: 10px;
    color: #515152;
}

/* scrollbar */
.scrollbar
{
    float: left;
    overflow-y: scroll;

    width: 100%;
    height: 300px;

    background: #f5f5f5;
}

#style-1::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
#style-1::-webkit-scrollbar
{
    width: 12px;

    background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #555;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}


body.checkout .bottom-slider {
    display: none;
}


/*HEADER*/
.header-top
{
    position: relative;
    z-index: 999;

    background-color: #262626;
}
.header-top p,
.header-top a
{
    font: 400 14px / 30px Roboto, sans-serif;
    line-height: 40px;

    height: 40px;
    margin: 0;

    text-transform: uppercase;

    color: #fff;
}
.header-top a
{
    text-decoration: underline;
}
.header-top p > span
{
    font-weight: 700;
}
#header-menu
{
    line-height: 88px;

    position: relative;
    z-index: 999;

    background: transparent url('../images/bg_nav2.png');
}
#header-menu .container > *
{
    /*display: block;*/
    float: left;
}
.header-bottom .container
{
    position: relative;
}
.categories-menu
{
    position: relative;
    z-index: 99;
    top: 20px;

    width: 44px;
    height: 68px;

    cursor: pointer;
}
#logo
{
    width: 100%;
    max-width: 250px;

    text-align: center;
}
#logo img
{
    margin-bottom: 5px;

    -webkit-transition: all .4s ease-out;
       -moz-transition: all .4s ease-out;
            transition: all .4s ease-out;
}
.main-menu > li
{
    position: relative;

    display: block;
    float: left;
}
.main-menu > li > a
{
    font: 400 14px / 30px Roboto, sans-serif;
    line-height: 88px;

    display: block;

    height: 88px;

    cursor: pointer;
    -webkit-transition: background .25s linear 0s;
       -moz-transition: background .25s linear 0s;
         -o-transition: background .25s linear 0s;
            transition: background .25s linear 0s;
    text-transform: uppercase;

    color: #fff;
}
.main-menu > li > a:hover
{
    text-decoration: none;

    background-color: #02b691 !important;
}
.main-menu > li.login-menu > a
{
    padding: 0 45px 0 85px;

    background: url(/images/login-icon.png) no-repeat 50px center;
}
.main-menu > li.schedule > a
{
    padding: 0 20px 0 70px;

    background: url(/images/schedule-icon.png) no-repeat 30px center;
}
.main-menu > li.cart > a
{
    padding: 0 20px 0 75px;

    background: url(/images/cart-icon.png) no-repeat 20px center;
}
.main-menu > li.cart > a > span
{
    font-family: Roboto, sans-serif;
    line-height: 23px;

    position: absolute;
    top: 20px;
    left: 50px;

    display: block;

    width: 23px;
    height: 23px;

    text-align: center;

    color: rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgb(10, 184, 146);
}
.main-menu > li.cart:hover > a > span
{
    color: rgb(10, 184, 146);
    background-color: rgb(255, 255, 255);
}
.profile
{
    float: right !important;
}
.profile > li img
{
    width: 44px;
    height: 44px;

    border-radius: 100%;
}
.profile > li
{
    display: block;
    float: left;

    margin-left: 15px;

    cursor: pointer;
}

/*#header-banner img{width: 100%;max-height: 300px;}*/

/*
.header-bottom{
background: url(/images/coffee-beans.jpg) no-repeat left center/cover;
min-height: 260px;
color: #fff;
position: relative;
}
.header-bottom > .container{
position: relative;
}
.header-bottom .info h1{
color: #fff;
font: 700 32px / 30px Roboto, sans-serif;
text-transform: uppercase;
margin: 35px 0 10px;
}
.header-bottom .info p{
color: #ffffff;
font: 700 14px Roboto, sans-serif;
}
.header-bottom .btn-banner{
display: block;
width: 141px;
height: 50px;
line-height: 50px;
text-align: center;
color: #fff;
background-color: #02b691;
text-transform: uppercase;
font-weight: 700;
position: absolute;
right: 0;
bottom: 55px;
 -webkit-transition: all 1s ease;
 -moz-transition: all 1s ease;
   -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
      transition: all 1s ease;
}
#header-menu > .container{position: relative;}
*/

/* POP-UP*/
.popup
{
    display: none;
}
.menu-subs
{
    display: none;
}
.popup
{
    line-height: 24px;

    position: absolute;
    z-index: 100;
    top: 110px;

    min-width: 175px;
    padding: 15px;

    background-color: #fff;
}
.sis-fixed #menu-schedule
{
    top: 70px;
}
#cat_popup
{
    position: fixed;
    top: 128px;
    left: 17.5%;/*
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    */

    width: 320px;
    padding-top: 15px;
}
#cat_popup .title
{
    font-size: 20px;

    margin: 0 0 20px;

    color: #515152;
}
.hot-deals
{
    border-top: 1px solid #eae9e9;
    border-bottom: 1px solid #eae9e9;
}
.ul-hightlight li > a
{
    font-size: 16px;

    display: block;

    width: 100%;
    padding: 12px 0;

    color: #02b691;
}
.ul-right > li > a
{
    display: block;

    padding: 12px 10px;

    color: #515152;
}
.ul-hightlight li a:hover,
.ul-right li a:hover
{
    text-decoration: none;

    color: #fff;
    background-color: #02b691;
}

/*.ul-right > li:last-child > a{padding-bottom: 0}*/
.ul-right > li > a > .fa
{
    line-height: 24px;

    float: right;
}
.menu-subs
{
    position: absolute;
    z-index: 100;
    top: 110px;
    left: -110px;

    width: 380px;
    padding: 12px;

    border: 1px solid #eee;
    background-color: #fff;
}
.menu-subs .detail > img
{
    display: block;

    width: 100%;
}
.menu-subs .detail
{
    display: block;

    width: 100%;
    padding-bottom: 25px;

    background-color: #000;
}
.menu-subs .detail > a
{
    font-size: 14px;
    line-height: 41px;

    display: block;

    width: 100%;
    max-width: 329px;
    height: 41px;
    margin: 13px auto 0;

    text-align: center;
    text-decoration: none;

    color: #898989;
    border: 1px solid #999;
    background-color: #fff;
}
.menu-subs .detail > a:last-child
{
    font: 700 14px / 30px Roboto, sans-serif;

    color: #fff;
    border: 1px solid #02b691;
    background-color: #02b691;
}
.form-login
{
    width: 100%;
    max-width: 355px;
    padding: 0;
}
.form-login .top
{
    height: 80px;

    text-align: center;

    color: #fff;
    background-color: #02b691;
}
.form-login .top .title
{
    font: 700 21px / 30px Roboto, sans-serif;

    margin: 0;
    padding-top: 15px;
}
.form-login .top > p
{
    font-size: 14px;

    margin: 0;
}
.form-login .top a
{
    text-decoration: underline;

    color: #fff;
}
.form-login .top a:hover
{
    text-decoration: none;
}
.form-login .bottom
{
    padding: 15px;
}
.form-login .social > a
{
    font-family: Roboto, sans-serif;
    font-weight: bold;
    line-height: 40px;
    line-height: 35px;

    display: block;
    float: left;

    margin-right: 12px;
}
.form-login .social > a:last-child
{
    margin-right: 0;
}
.form-login .social .fa.fa-facebook
{
    width: 45px;
    margin-right: 12px;

    border-right: 1px solid #41598d;
}
.form-login .social .fa
{
    font-size: 1.6em;
    line-height: 40px;

    width: 40px;
    height: 40px;

    text-align: center;

    color: #fff;
}
.form-login .social .fb
{
    padding-right: 10px;

    -webkit-transition: all .4s linear;
       -moz-transition: all .4s linear;
            transition: all .4s linear;

    color: #fff;
    background-color: #536da3;
}
.form-login .social .fb:hover
{
    -webkit-transition: all .4s linear;
       -moz-transition: all .4s linear;
            transition: all .4s linear;
    text-decoration: none;

    background-color: #293754;
}
.form-login .social .gg:hover
{
    -webkit-transition: all .4s linear;
       -moz-transition: all .4s linear;
            transition: all .4s linear;
    text-decoration: none;

    background-color: #922d18;
}
.form-login .social .gg
{
    width: 40px;
    height: 40px;

    -webkit-transition: all .4s linear;
       -moz-transition: all .4s linear;
            transition: all .4s linear;

    background: #e3411f url('/images/google.png') no-repeat center center;
}
.form-login .social .tw
{
    margin: 0;

    -webkit-transition: all .4s linear;
       -moz-transition: all .4s linear;
            transition: all .4s linear;

    background-color: #1ebef0;
}
.form-login .social .tw:hover
{
    -webkit-transition: all .4s linear;
       -moz-transition: all .4s linear;
            transition: all .4s linear;

    background-color: #177f9f;
}
.form-login .social
{
    overflow: hidden;
}
#form-login .devide hr,
#form-register .devide hr
{
    margin: 0;

    border-top: 1px solid #999;
}
#form-login .devide p
{
    font-style: italic;

    position: absolute;
    top: -12px;
    left: 127px;

    display: inline-block;

    margin: 0;
    padding: 0 20px;

    color: #898989;
    background-color: #fff;
}
#form-login .devide,
#form-register .devide
{
    position: relative;

    margin-top: 30px;
    margin-bottom: 20px;
}
.bottom .form-group .form-control
{
    height: 41px;
    padding-left: 40px;

    color: #898989;
    border: 1px solid #999;
    border-radius: 0;
}
.bottom .form-group::-moz-placeholder,
.bottom .form-group::-webkit-input-placeholder
{
    opacity: 1;
    color: #898989;
}
.bottom .form-group #login-email,
#register-email
{
    background: transparent url('/images/fly.png') no-repeat 10px center;
}
.bottom .form-group #login-password,
#register-password
{
    background: transparent url('/images/pass.png') no-repeat 10px center;
}
.bottom .check-login
{
    position: relative;
    left: 10px;

    display: inline-block;

    width: 21px;
    height: 21px;
}
.bottom .check-login label
{
    border: 1px solid #999;
    border-radius: 0;
    background-color: #fff;
}
.bottom .check-login label i
{
    font-size: 20px;

    position: absolute;
    top: -1px;

    display: none;

    color: #000;
}
#form-login .bottom form button,
#form-register .bottom form button
{
    font-size: 14px;
    font-weight: bold;
}
#form-login
{
    position: fixed;
    z-index: 9999;
    top: 100px;
    left: 38.5%;

    display: none;

    box-shadow: 1px 1px 10px 1px #000;
}
#form-register
{
    position: fixed;
    z-index: 9999;
    top: 100px;
    left: 38.5%;

    display: none;

    box-shadow: 1px 1px 10px 1px #000;
}
#form-register .devide p
{
    font-size: 14px;
    font-style: italic;

    position: absolute;
    top: -12px;
    left: 38px;

    display: inline-block;

    margin: 0;
    padding: 0 10px;

    color: #898989;
    background-color: #fff;
}
.top-register .form-group
{
    float: left;

    width: 49%;
}
.top-register .form-group:first-child
{
    margin-right: 2%;
}
#register-name
{
    background: transparent url('/images/name.png') no-repeat 10px center;
}
#form-register form > p
{
    line-height: 18px;

    margin-bottom: 20px;

    text-align: center;

    color: #898989;
}
#form-register form > .form-group:nth-child(2)
{
    position: relative;

    clear: both;
}
#form-register form > .form-group:nth-child(2):before
{
    font-family: FontAwesome;
    font-size: 20px;

    position: absolute;
    top: 10px;
    left: 15px;

    content: '\f095';

    color: #898989;
}
#form-register form > .form-group:nth-child(4)
{
    position: relative;
}
#form-register form > .form-group:nth-child(4):after
{
    font-family: FontAwesome;
    line-height: 10px;

    position: absolute;
    top: 15px;
    right: 10px;

    content: '\f06e';
    cursor: pointer;

    color: #898989;
}

/*END*/

/*END HEADER*/

/* FOOTER */
#footer .container
{
    max-width: 1110px;
}
.footer-bottom
{
    padding: 15px 0 20px;

    color: #fff;
    border-top: 2px solid #fff;
    background-color: #212121;
}
.col-about
{
    max-width: 300px;
}
.col-blog
{
    max-width: 280px;
}
.col-link
{
    max-width: 280px;
}
.col-photo
{
    max-width: 250px;
    padding: 0;
}
h4.title-ft
{
    font-weight: 700;

    margin: 0 0 40px;

    text-transform: uppercase;
}
#footer ul > li,
#footer ul > li a
{
    line-height: 25px;

    text-decoration: none;

    color: #8d8d8d;
}
#footer ul > li a:hover
{
    color: #fff;
}
ul.news-ft li
{
    margin: 0 0 15px;
}
ul.news-ft p
{
    margin: 0;
}
ul.further-link > li
{
    min-height: 35px;
}
.photo-stream > a
{
    display: block;
    float: left;

    width: 33.33%;
    margin-bottom: 10px;
}
.photo-stream > a > img
{
    width: 75px;
    height: 75px;
    margin-right: 10px;
}
.photo-stream > p a
{
    padding-left: 25px;

    color: #8d8d8d;
    background: url('/images/flicker.png') no-repeat left center;
}
ul.social > li
{
    display: block;
    float: left;

    width: 20px;
    margin-top: 50px;
}

/*.col-photo .title-ft{}*/

/* END FOOTER */

/* Home-page */
.home-page .slider
{
    position: relative;
    top: -128px;
}
.slider .carousel-caption
{
    right: 0;
    left: 0;
}
.slider.page .carousel-caption
{
    top: 0;

    height: 100%;
    padding: 0;
}
.slider .slider-header .container
{
    position: relative;
}
.slider .info h1
{
    font: 700 32px / 30px Roboto, sans-serif;

    margin: 0 0 10px;

    text-align: left;
    text-transform: uppercase;

    color: #fff;
}
.slider .info p
{
    font: 700 14px Roboto, sans-serif;

    text-align: left;

    color: #fff;
}
.slider .btn-banner
{
    font-weight: 700;
    line-height: 50px;

    display: block;

    width: 141px;
    height: 50px;

    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
    text-align: center;
    text-transform: uppercase;

    color: #fff;
    background-color: #02b691;
}
.slider .btn-banner:hover
{
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
    text-decoration: none;

    background-color: #167b67;
}
.slider .item img
{
    width: 100%;
    max-height: 420px;
}
.slider .container
{
    position: relative;
}
.slider.page .container
{
    height: 100%;
}
.slider .bottom-slider
{
    position: absolute;
    z-index: 99;
    bottom: 0;

    width: 100%;
    height: 50px;

    background: transparent url('../images/bg-bottom-slider.png') no-repeat left top / 100% 100%;
}
.slider .carousel-caption
{
    top: 35%;
}

/*page slide*/
.slider.page .item img
{
    max-height: 300px;
}
.slider.page .info p
{
    position: absolute;
    top: 76%;

    margin: 0;
}
.slider.page .info h1
{
    position: absolute;
    top: 55%;

    margin: 0;
}
.slider.page .btn-banner
{
    position: absolute;
    top: 60%;
    right: 15px;
}

/*end-slider*/
.block-title
{
    font: 700 30px Roboto, sans-serif;

    margin: 40px 0 25px;

    text-transform: uppercase;

    color: #000;
}
.section-title
{
    font: 400 32px / 25px Roboto, sans-serif;

    display: inline-block;

    margin: 15px auto;

    vertical-align: sub;

    color: #000;
}
a.load-more
{
    font: 400 14px / 40px Roboto, sans-serif;

    display: inline-block;

    width: 110px;
    height: 40px;
    margin-bottom: 20px;
    margin-left: 30px;

    text-align: center;
    text-transform: uppercase;

    color: #000;
    border: 1px solid #000;
}
.list-products
{
    margin-bottom: 40px;
}
.product
{
    overflow: hidden;

    border: 1px solid #fff;
}
.product .main-img img
{
    max-width: 100%;
}
.product .content
{
    position: relative;

    width: 100%;

    color: #fff;
}
.product .detail
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    padding-left: 12px;

    -webkit-transition: .5s ease-in-out;
       -moz-transition: .5s ease-in-out;
        -ms-transition: .5s ease-in-out;
         -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;

    background-color: rgba(2, 182, 145, .9);
}
.product .option,
.product .desc
{
    display: none;
}
.product .title
{
    font: 400 18px Roboto, sans-serif;

    margin: 25px 0 4px;
    padding-left: 12px;
}
.product .price
{
    font: 100 18px Roboto, sans-serif;

    margin-bottom: 15px;
    padding-left: 12px;
}
.btn-product
{
    font: 400 11.9px Roboto, sans-serif;

    display: inline-block;

    padding: 11px 22px;

    cursor: pointer;
    text-transform: uppercase;

    border: 1px solid #fff;
    border-radius: 6px;
}
.add-cart
{
    position: absolute;
    right: 12px;
    bottom: 22px;
}
.option
{
    display: block;

    width: 100%;
    height: 90px;

    text-align: center;

    background-color: rgba(2, 182, 145, .9);
}
.option > p
{
    display: block;
    float: left;

    height: 90px;
    margin: 0 auto;
}
.option p > *
{
    font-weight: 100;

    display: block;
}
.feedback-block
{
    font: 400 24px Roboto, sans-serif;

    padding: 50px 0 45px;

    color: #fff;
    background: url(/images/feedback.png) no-repeat center / cover;
}
.feedback-block .author
{
    display: block;

    margin-top: 30px;
}
.feedback-block .author-img
{
    display: block;
    overflow: hidden;

    text-align: center;
}
.feedback-block .author-img img
{
    max-width: 100%;

    vertical-align: middle;

    border-radius: 50%;
}
.rating > span
{
    display: block;
    float: left;

    width: 45px;
    height: 35px;
    margin-top: 15px;

    background: url(/images/start.png) no-repeat left center;
}
.checkout-block
{
    margin-top: -128px;
}
.checkout-block .block-title
{
    color: #26b99a;
}
.tour-works li
{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700;

    display: block;

    width: 100%;
    margin-bottom: 25px;
    padding-left: 55px;

    text-transform: uppercase;

    color: #262626;    /*font: 700 14px Roboto, sans-serif;*/
}
.tour-works .pick
{
    background: url(/images/pick-cf.png) no-repeat 10px center;
}
.tour-works .date
{
    background: url(/images/pick-date.png) no-repeat 5px center;
}
.tour-works .enjoy
{
    background: url(/images/pick-joy.png) no-repeat left center;
}
.tour-works li > p
{
    margin: 0;
}
.tour-works li > p:last-child
{
    font-weight: 400;

    text-transform: none;
}
.pick-block
{
    position: relative;

    padding-bottom: 65px;

    color: #fff;
    background-color: #262626;
}
.pick-block > form > .container
{
    position: relative;
}
.checkout-block .pick-block .block-title
{
    color: #fffefe;
}
.pick-block label
{
    font-size: 18px;
    font-weight: 400;
}

/*
.select2-dropdown{
transition: all 2s ease;
-moz-transition: all 2s ease;
-webkit-transition: all 2s ease
}
*/
#calende .form-control:focus
{
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}
#calende .form-control
{
    border-radius: 6px;
}
.select2-container--open
{
    border-radius: 6px;
}
.select2-container
{
    border-radius: 6px;
}
.select2-container--default .select2-selection--single
{
    height: 44px;

    border: 1px solid #fff;
    border-radius: 6px !important;
    background-color: transparent;
}

.select2-container--default .select2-selection--single .select2-selection__rendered
{
    font: 400 18px / 44px Roboto, sans-serif;

    color: #fff;
}
.select2-selection__arrow > b
{
    display: none;
}
.select2-selection__arrow
{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    font-size: 3em;
    line-height: 44px;

    display: inline-block;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.select2-container--default .select2-selection--single .select2-selection__arrow
{
    width: 40px;
    height: 44px;

    -webkit-transition: all 2s ease;
       -moz-transition: all 2s ease;
            transition: all 2s ease;
}
.select2-selection__arrow::before
{
    content: '\f107';
}
.select2-container--open .select2-selection__arrow::before
{
    content: '\f106';
}
.select2-container.select2-container--open .select2-dropdown--below
{
    border-radius: 6px;
}
.select2-container ul > li.select2-results__option
{
    padding: 8px 0 8px 10px;

    border-radius: 6px;
}
.select2-container--default .select2-selection--single:hover
{
    -webkit-box-shadow: inset 0 0 0 1px #02b691;
            box-shadow: inset 0 0 0 1px #02b691;
}
label[for='ask_delitm']
{
    font: 400 18px Roboto, sans-serif;
    line-height: 25px;

    width: 63px;

    text-align: center;

    color: #fff;
    border-radius: 6px;
    background-color: #02b691;
}
.ask_delitm > label
{
    font: 400 18px Roboto, sans-serif;
}
.for-detail .col-md-9
{
    margin-top: 45px;
    padding-top: 25px;
    padding-left: 50px;

    border-top: 1px solid #fff;
    background: url(/images/question.png) no-repeat left center;
}
.for-detail .col-md-9 h5
{
    font-size: 18px;

    margin: 0;
}
.for-detail .col-md-9 p
{
    font-size: 14px;
}
.for-detail .col-md-9 a
{
    text-decoration: underline;

    color: #fffefe;
}
.for-detail button
{
    font-size: 18px;
    line-height: 74px;

    display: block;

    width: 180px;
    margin-top: 45px;
    padding: 0;

    text-align: center;

    border-radius: 6px;
    background-color: #02b691 !important;
}
.for-detail button:focus,
.for-detail button:hover
{
    text-decoration: none;

    opacity: .9;
    color: #fff;
}
#cart-item .bottom-info a:hover
{
    -webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
            transition: all .2s ease;
    text-decoration: none;

    background-color: #d8d8d8;
}
#cart-item .cat-top-info p i
{
    margin: 0 10px;
    padding: 3px;

    cursor: pointer;

    color: #fff;
    background-color: transparent;
}
#cart-item .cat-top-info p i.glyphicon
{
    background-color: #02b691;
}
#cart-item .cat-top-info p i.close-cart
{
    font-size: 24px;
    font-weight: 100;
    font-style: normal;
    line-height: 20px;

    position: relative;
    top: 3px;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin-top: -3px;
    margin-left: 0;
    padding: 0;

    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
            transform: rotate(45deg);
    text-align: center;

    color: #879999;
    border-radius: 100%;
}
#cart-item .close-cart:hover
{
    background-color: red;
}
.schure
{
    line-height: 223px;

    width: 100%;
    height: 223px;

    text-align: center;

    background: url(/images/bg-schure.png) no-repeat left top /100%;
}
.schure p
{
    font-family: Roboto, sans-serif;
    font-size: 32px;
    font-weight: 700;

    text-transform: uppercase;

    color: #fff;
}

/* End home*/
#cart-item .bottom-info a > i
{
    font-size: 20px;

    position: relative;
    top: 3px;
    left: 10px;
}
#cart-item .bottom-info a
{
    -webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
            transition: all .2s ease;
}
.date-picker .form-control::-moz-placeholder
{
    color: #fff;/*    opacity: 1;*/
}
.date-picker input[type='text']::-webkit-input-placeholder
{
    color: #fff;
}
#ui-datepicker-div
{
    position: absolute;
    z-index: 999999999;
    top: 1px;
    right: 0;

    width: 355px;
    height: 445px;
    padding: 60px 45px;

    border: none;
    border-radius: 0;/*    margin-top: 153px;*/
    background: #fff;
}
#ui-datepicker-div h5
{
    font-family: Roboto, sans-serif;
    font-size: 22px;
    line-height: 20px;

    max-width: 145px;
    margin-bottom: 35px;
    padding-bottom: 25px;

    letter-spacing: 4px;
    text-transform: uppercase;

    color: #000;
    border-bottom: 1px solid #000;
}
#ui-datepicker-div .ui-datepicker-inline
{
    padding: 0;

    border: medium none;
    border-radius: 0;
}
#ui-datepicker-div .ui-datepicker .ui-datepicker-header
{
    padding: 0;

    border: medium none;
    border-radius: 0;
    background-color: #fff;
}
#ui-datepicker-div .ui-datepicker-prev:before
{
    font-family: FontAwesome;
    font-size: 24px;

    position: relative;
    top: -8px;

    display: inline-block;

    content: '\f104';

    color: #000;
}
#ui-datepicker-div a.ui-state-hover
{
    border: none;
}
#ui-datepicker-div .ui-datepicker-next:after
{
    font-family: FontAwesome;
    font-size: 24px;

    position: relative;
    top: -8px;
    left: 16px;

    display: inline-block;

    content: '\f105';

    color: #000;
}
#ui-datepicker-div .ui-datepicker .ui-datepicker-title
{
    font-family: Roboto, sans-serif;
    font-size: 12px;

    margin-bottom: 45px;

    letter-spacing: 3px;
    text-transform: uppercase;
}
#ui-datepicker-div .ui-state-default,
#ui-datepicker-div .ui-widget-content .ui-state-default,
#ui-datepicker-div .ui-widget-header .ui-state-default
{
    font-weight: normal;

    text-align: center;

    color: #000;
    border: none;
    background: transparent;
}
#ui-datepicker-div .ui-state-highlight,
#ui-datepicker-div .ui-widget-content .ui-state-highlight,
#ui-datepicker-div .ui-widget-header .ui-state-highlight
{
    border: none;
    background: #c8d7d4;
}
#ui-datepicker-div .ui-state-hover,
#ui-datepicker-div .ui-widget-content .ui-state-hover,
#ui-datepicker-div .ui-widget-header .ui-state-hover,
#ui-datepicker-div .ui-state-focus,
#ui-datepicker-div .ui-widget-content .ui-state-focus,
#ui-datepicker-div .ui-widget-header .ui-state-focus
{
    font-weight: bold;

    color: #000;
    border: none;
    background: transparent;
}
.ui-datepicker .ui-datepicker-prev
{
    top: 1px !important;
    left: 0 !important;

    cursor: pointer;
}
.ui-datepicker .ui-datepicker-next
{
    top: 1px !important;
    right: 0 !important;

    cursor: pointer;
}
#ui-datepicker-div .ui-datepicker-prev-hover
{
    left: 0;
}
#ui-datepicker-div .ui-datepicker-next-hover
{
    right: 0;
}

/*
#ui-datepicker-div .ui-state-hover .ui-icon,
#ui-datepicker-div .ui-state-focus .ui-icon {
    background-image: none;
}
*/
.date-picker .fa-calendar::before
{
    content: url('/images/schedule-icon.png');
}
#ui-datepicker-div .ui-datepicker .ui-datepicker-prev,
#ui-datepicker-div .ui-datepicker .ui-datepicker-next
{
    top: 1px;

    cursor: pointer;
}
#ui-datepicker-div .ui-datepicker-title
{
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 200;

    margin: -7px 0 0;
    padding-bottom: 45px;

    letter-spacing: 3px;
    text-transform: uppercase;

    background: #fff;
}

/*checkbox
.delitm-checkbox{
display: inline-block;
position: relative;
top: -10px;
}
.delitm-checkbox input[type="checkbox"] {
display:none;
}
.delitm-checkbox input[type="checkbox"] + label{
display:inline-block;
width:21px;
height:21px;
background:#262626;
border-radius:5px;
border: 1px solid #fff;
}
.delitm-checkbox label:before{
content:'';
width: 17px;
height: 11px;
display: inline-block;
position: absolute;
background: transparent url('/images/checkbox.png');
}
*/

/* .squaredThree */
.delitm-checkbox
{
    position: relative;
    top: -10px;
    left: 20px;

    display: inline-block;

    width: 21px;
    height: 21px;
}
.delitm-checkbox label,
.check-login label
{
    position: absolute;
    top: 0;
    left: 0;

    width: 21px;
    height: 21px;

    cursor: pointer;

    border: 1px solid #fff;
    border-radius: 4px;
    background: #262626;
}
.delitm-checkbox label span
{
    position: absolute;
    top: 5px;
    left: 2px;

    display: block;

    width: 17px;
    height: 12px;

    opacity: 1;
    background: transparent url('/images/checkbox.png') no-repeat;
}
.delitm-checkbox input[type=checkbox],
.check-login input[type=checkbox]
{
    visibility: hidden;
}
.delitm-checkbox input[type=checkbox]:checked + .delitm-checkbox label span
{
    opacity: 1;
}

/*PLUS*/
.bg-popup .bottom .plus
{
    position: relative;

    display: block;
    float: left;
    overflow: hidden;

    width: 100%;
    padding-top: 12px;

    border-top: 1px solid #e6e6e5;
}
.bg-popup .bottom .plus .fa-heart-o
{
    font-size: 30px;
    font-size: 33px;

    position: absolute;
    right: 165px;

    cursor: pointer;

    color: #f34336;
}
.bg-popup .bottom .plus .button
{
    line-height: 20px;

    position: relative;

    display: inline-block;
    float: right;
    overflow: hidden;

    width: 145px;
    height: 33px;
    padding: 5px 15px;

    cursor: pointer;
    -webkit-transition: all .25s cubic-bezier(.310, -.105, .430, 1.400);
       -moz-transition: all .25s cubic-bezier(.310, -.105, .430, 1.400);
            transition: all .25s cubic-bezier(.310, -.105, .430, 1.400);

    border-radius: 5px;
    background-color: #02b691;
}
.bg-popup .bottom .plus .button > span
{
    font-size: 18px;
    font-weight: bold;

    position: absolute;

    display: inline-block;
    float: left;

    margin-top: 1px;
    margin-right: 10px;
    padding-right: 10px;

    -webkit-transition: all .25s cubic-bezier(.310, -.105, .430, 1.400);
       -moz-transition: all .25s cubic-bezier(.310, -.105, .430, 1.400);
            transition: all .25s cubic-bezier(.310, -.105, .430, 1.400);

    opacity: 1;
    color: #fff;
    border-right: 1px solid #d5d5d4;
}
.bg-popup .bottom .plus .button:hover
{
    text-decoration: none;
}
.bg-popup .bottom .plus .button:hover span
{
    left: -72%;

    -webkit-transition: all .25s cubic-bezier(.310, -.105, .430, 1.400);
       -moz-transition: all .25s cubic-bezier(.310, -.105, .430, 1.400);
            transition: all .25s cubic-bezier(.310, -.105, .430, 1.400);

    opacity: 0;
}
.bg-popup .bottom .plus .button:hover .wrap
{
    right: 65px;

    -webkit-transition: all .25s cubic-bezier(.310, -.105, .430, 1.400);
       -moz-transition: all .25s cubic-bezier(.310, -.105, .430, 1.400);
            transition: all .25s cubic-bezier(.310, -.105, .430, 1.400);
}
.bg-popup .bottom .plus .button:hover .wrap > i
{
    font-size: 28px;
}
.bg-popup .bottom .plus .button .wrap
{
    position: absolute;
    right: 10px;

    display: inline-block;
    float: left;

    width: 15%;
}
.plus .button  .wrap > i
{
    font-size: 18px;
    line-height: 18px;

    position: relative;
    top: 2px;

    color: #fff;
}
.wrap i.glyphicon-plus
{
    display: block;
}
.wrap i.fa-check
{
    display: none;
}
.wrap.success i.glyphicon-plus
{
    display: none;
}
.wrap.success i.fa-check
{
    display: block;
}
#ui-datepicker-div
{
    /*    top:79.5% !important;*/
    /*    left:57.4% !important;*/
}
#header-menu
{
    max-height: 88px;
    // transition: all .8s ease-in-out 0s;
    // -moz-transition: all .8s ease-in-out 0s;
    // -o-transition: all .8s ease-in-out 0s;
    // -webkit-transition: all .8s ease-in-out 0s;
    // -ms-transition: all .8s ease-in-out 0s;
}
#header-menu.is-fixed
{
    line-height: 70px;

    position: fixed;
    top: 0;/*    background: transparent url('/images/bg_nav1.png');*/

    width: 100%;
    // transition: all .8s ease-in-out 0s;
    // -moz-transition: all .8s ease-in-out 0s;
    // -o-transition: all .8s ease-in-out 0s;
    // -webkit-transition: all .8s ease-in-out 0s;
    // -ms-transition: all .8s ease-in-out 0s;
    max-height: 70px;

    background-color: rgba(0, 0, 0, .6);
}
#header-menu.is-fixed,
#header-menu.is-fixed .main-menu li a,
#header-menu.is-fixed .categories-menu,
.main-menu > li.cart > a > span,
.main-menu > li > a,
#header-menu
{
    // transition: all .8s ease-in-out 0s;
    // -moz-transition: all .8s ease-in-out 0s;
    // -o-transition: all .8s ease-in-out 0s;
    // -webkit-transition: all .8s ease-in-out 0s;
    // -ms-transition: all .8s ease-in-out 0s;
}
#header-menu.is-fixed .main-menu li a > span.count
{
    display: block;
}
#header-menu.is-fixed .main-menu li a > span,
#header-menu.is-fixed .main-menu li a > p
{
    display: none;
}
#header-menu.is-fixed .main-menu > li > a
{
    line-height: 70px;

    height: 70px;
    padding: 0 90px;

    background-position: center center;
}
#header-menu.is-fixed .main-menu > li.cart > a > span
{
    top: 10px;
    left: 110px;
}
#header-menu.is-fixed .categories-menu
{
    top: 10px;

    height: 60px;

    -webkit-transition: all .8s ease-in-out 0s;
       -moz-transition: all .8s ease-in-out 0s;
        -ms-transition: all .8s ease-in-out 0s;
         -o-transition: all .8s ease-in-out 0s;
            transition: all .8s ease-in-out 0s;
}
#header-menu.is-fixed #logo img
{
    max-height: 60px;
}

/*.wrap-login, .wrap-cart,*/
#bg_wrap,
.wrapSub
{
    position: fixed;
    position: fixed;
    z-index: 999;
    top: 0;

    display: none;
    overflow: hidden;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .8);
}
.wrapSub
{
    position: fixed;
    z-index: 9999;
    top: 0;

    display: none;

    width: 100%;
}
.wrapSub .menu-subs
{
    position: relative;
    top: 5%;
    left: 0;

    display: block;

    margin: 0 auto;
}
.wrapSub.subScrice,
.bgSub.subScrice
{
    display: block;
}
#form-login > a > i,
#form-register > a > i
{
    font-size: 25px;

    position: absolute;
    top: -20px;
    right: -22px;

    display: inline-block;

    cursor: pointer;
    -webkit-transition: all .4s linear;
       -moz-transition: all .4s linear;
            transition: all .4s linear;

    color: white;
}
#form-login > a > i:hover,
#form-register > a > i:hover,
#cart-item > a > i:hover
{
    -webkit-transition: all .4s linear;
       -moz-transition: all .4s linear;
            transition: all .4s linear;
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
            transform: rotate(90deg);

    color: #02b691;
}
.wrapSub .menu-subs > a > i
{
    font-size: 18px;

    position: absolute;
    top: -5px;
    right: -20px;

    cursor: pointer;
    -webkit-transition: all .4s linear;
       -moz-transition: all .4s linear;
            transition: all .4s linear;

    color: #fff;
}
.wrapSub .menu-subs > a > i:hover
{
    -webkit-transition: all .4s linear;
       -moz-transition: all .4s linear;
            transition: all .4s linear;
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
            transform: rotate(90deg);

    color: #fff;
}
#cart-item > a > i
{
    font-size: 18px;

    position: absolute;
    top: 5px;
    right: 10px;

    cursor: pointer;
    -webkit-transition: all .4s linear;
       -moz-transition: all .4s linear;
            transition: all .4s linear;

    color: rgb(2, 182, 145);
}

/**ProFIle**/
.avata > a
{
    display: block;
}
.avata > .wrap
{
    position: relative;

    overflow: hidden;

    max-width: 217px;
    height: 217px;

    border-radius: 100%;
}
.avata > .wrap > a > img
{
    width: 217px;
    height: 217px;
}
.avata > .wrap > .mask
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
            transform: scale(0);

    opacity: 0;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, .6);
}
.avata > .wrap:hover .mask
{
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
            transform: scale(1);

    opacity: 1;
}
.avata > .wrap > .mask > a
{
    font-weight: 700;

    position: absolute;
    top: 46%;
    left: 35%;

    display: block;

    color: #02b691;
}
.avata > .wrap > .mask > a:hover
{
    text-decoration: none;

    color: #fff;
}
.profilePage .form-control::-moz-placeholder
{
    opacity: 1;
    color: #515252;
}
.profilePage .form-control::-webkit-input-placeholder
{
    color: #515252;
}
.profilePage .form-control::-ms-input-placeholder
{
    color: #515252;
}
.profilePage .form-control
{
    color: #515252;
}

/***CheckOut***/
.checkCart
{
    padding: 0 15px;
}
.checkCart .topCart
{
    padding-left: 40px;
}
.checkCart .title-h2
{
    font-family: Roboto, sans-serif;
    font-size: 21px;
    font-weight: 900;
    line-height: 30px;

    display: inline-block;

    margin: 0 0 20px;

    text-transform: uppercase;

    color: #02b691;
}
.checkCart .title-h2 > span
{
    font-size: 16px;
    font-weight: 400;

    display: inline-block;

    margin-left: 95px;
    padding: 0 10px;

    cursor: pointer;
    -webkit-transition: all .4s ease;
       -moz-transition: all .4s ease;
            transition: all .4s ease;
    text-transform: none;

    color: #fff;
    background-color: #02b691;
}
.topCart ul
{
    overflow: hidden;
}
.topCart ul .first
{
    display: inline-block;

    width: 20%;
}
.topCart ul li
{
    display: inline-block;
    float: left;
}
.topCart li > span
{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;

    display: block;

    padding-bottom: 10px;

    color: #515152;
}
.topCart .first > span > i,
.serviceCart .col-one > span > i,
.scheduleMore ul li:first-child > i
{
    font-size: 24px;
    font-weight: 100;
    font-style: normal;
    line-height: 20px;

    position: relative;
    top: 3px;

    display: inline-block;

    margin-top: -3px;
    margin-right: 20px;
    padding: 0;

    cursor: pointer;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
            transform: rotate(45deg);
    text-align: center;

    color: #879999;
    border-radius: 100%;
}
.topCart .second
{
    width: 50%;
    margin-left: 3%;
}
.topCart .third
{
    width: 12%;

    text-align: center;
}
.topCart .third span > i
{
    line-height: 30px;

    display: inline-block;

    width: 30px;
    margin-right: 10px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    background-color: #02b691;
}
.topCart .third span > i.glyphicon-minus
{
    margin-right: 0;
    margin-left: 10px;
}
.topCart .fourth
{
    width: 3%;
    margin: 0 1%;

    text-align: center;
}
.topCart .fourth > span > i
{
    font-size: 30px;

    color: #02b691;
}
.topCart .fifth
{
    float: right;

    text-align: right;
}
.voucherCart p
{
    float: left;
    overflow: hidden;

    width: 80%;
    margin: 0;
}
.voucherCart label
{
    font: 400 16px Roboto, sans-serif;
    line-height: 30px;

    display: inline-block;
    float: left;

    margin: 0;
    padding-right: 30px;

    color: #515252;
}
.voucherCart .form-control
{
    float: left;

    width: 25%;
    max-width: 225px;
    height: 30px;

    color: #515252;
    border: 2px solid rgb(81, 82, 82);
    border-radius: 0;
}
.voucherCart > span
{
    font: 400 16px Roboto, sans-serif;
    line-height: 30px;

    display: block;
    float: left;

    width: 20%;

    text-align: right;
    text-transform: uppercase;

    color: #515152;
}
.topCart .voucherCart
{
    overflow: hidden;

    margin: 10px 0;
    padding: 10px 0;

    border-top: 1px solid #eae9e9;
    border-bottom: 1px solid #eae9e9;
}
.topCart .serviceCart
{
    margin-bottom: 45px;
    padding-bottom: 30px;

    border-bottom: 1px solid #eae9e9;
}
.serviceCart .col-one
{
    width: 11%;
    max-width: 100px;
}
.serviceCart .col-two
{
    width: 73%;
    margin-left: 7%;
}
.serviceCart .col-three
{
    float: right;

    width: 9%;

    text-align: right;
}
.serviceCart > span
{
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;

    display: block;

    text-align: right;
    text-transform: uppercase;

    color: #515152;
}
.checkOut .next
{
    font: 400 16px Roboto, sans-serif;
    line-height: 30px;

    display: inline-block;

    margin-top: 20px;
    padding: 0 30px;

    -webkit-transition: all .4s ease;
       -moz-transition: all .4s ease;
            transition: all .4s ease;
    text-transform: uppercase;

    color: #fff;
    background-color: #02b691;
}
.checkOut .next:hover,
.checkCart .title-h2 > span:hover
{
    -webkit-transition: all .4s ease;
       -moz-transition: all .4s ease;
            transition: all .4s ease;
    text-decoration: none;

    background-color: #167b67;
}
.checkOut .customerInfo
{
    padding-left: 40px;
}
.topForm label
{
    font: 400 16px Roboto, sans-serif;
    line-height: 40px;

    margin: 0;

    text-transform: uppercase;

    color: #515252;
}
.topForm .form-control
{
    height: 40px;
    padding: 12px 15px;

    color: #515252;
    border: 2px solid #515252;
    border-radius: 0;
}
.topForm
{
    overflow: hidden;
}
.topForm .formLeft,
.bottomForm .local
{
    float: left;

    width: 35%;
    max-width: 330px;
}
.topForm .formLeft
{
    overflow: hidden;

    width: 100%;
    max-width: 100%;
}
.formLeft label,
.right label
{
    display: inline-block;
    float: left;

    width: 34%;
    padding-right: 15px;

    text-align: right;
}
.showForm input
{
    float: left;

    width: 66%;
}
.formLeft p:first-child label
{
    text-align: left;
}
.formLeft p
{
    float: left;

    width: 33.33333%;
    margin: 0;
}
.formLeft input
{
    float: right;

    width: 66%;
}
.right .message.showForm label
{
    line-height: 20px;

    width: 17%;

    text-align: center;
}
.showForm:last-child
{
    width: 100%;
}
.message.showForm textarea
{
    width: 83%;
    max-height: 80px;
    padding: 6px 15px;

    border: 2px solid #515252;
}
.formRight .left
{
    margin: 14px 0 15px;
    padding-left: 106px;
}
.formRight .left > span
{
    display: inline-block;
    float: left;

    width: 30px;
    height: 30px;
}
.formRight .left > span .form-control
{
    visibility: hidden;

    width: 30px;
    height: 30px;
    margin: 0;
}
.formRight .left > span > label
{
    position: relative;

    width: 30px;
    height: 30px;
    padding: 0;

    cursor: pointer;

    border: 2px solid #02b691;
}
.formRight .left > span > label > i
{
    font-size: 27px;

    position: absolute;

    display: none;

    color: #02b691;
}
.formRight .left > label
{
    line-height: 30px;

    float: left;

    width: 80%;
    padding-right: 0;
    padding-left: 20px;

    text-align: left;
}
.topForm div.formRight
{
    display: block;

    width: 100%;
}
.showForm
{
    display: none;
    float: left;
    overflow: hidden;

    width: 50%;
    margin-top: 15px;
}
.topForm .formRight,
.bottomForm .address
{
    float: left;

    width: 65%;
}
.formRight > div.right
{
    float: left;

    width: 66.7%;
    margin-bottom: 15px;
}
.formRight > div:first-child
{
    float: left;

    width: 33.3%;
}
.formRight > div > label
{
    float: left;

    width: 29%;
    padding-right: 15px;

    text-align: right;
}
.formRight > div > input
{
    float: left;

    width: 71%;
}

/*.formRight > div:last-child{width:100%;margin-bottom: 0px;}*/

/*
.formRight > div:last-child > label{
width: 14.5%;
line-height: 20px;
}
.formRight > div:last-child > label > span{
text-transform: none;
}
.formRight > div:last-child > textarea{
width:85.5%;
border: 2px solid #515252;
padding: 12px 15px;
max-height: 80px;
color: #515252;
}
*/
.local label
{
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;

    display: inline-block;
    float: left;

    width: 32%;
    margin: 0;

    text-transform: uppercase;

    color: #515252;
}
.local select
{
    float: left;

    width: 68%;
    height: 40px;
    padding-left: 15px;

    border: 2px solid #515252;
    background: transparent url('/images/icondown.png') no-repeat 190px center / 20px 12px;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.address .input-group
{
    border: 2px solid #515252;
}
.address > .input-group > input.form-control
{
    height: 37px;
    padding: 0 15px;

    border: none;
    border-radius: 0;
}

/*.bottomForm .address{padding-left:10px;}*/
.address > .input-group > .input-group-addon
{
    cursor: pointer;

    border: none;
    border-radius: 0;
    background-color: transparent;
}
.bottomForm > span,
.scheduleMore > span,
.payName > span
{
    display: block;
    clear: both;

    text-align: right;
}
.customerInfo .form-control::-moz-placeholder,
.customerInfo textarea::-moz-placeholder,
textarea::-moz-placeholder,
.voucherCart .form-control::-moz-placeholder
{
    opacity: 1;
    color: #515252;
}
.voucherCart .form-control::-webkit-input-placeholder,
.customerInfo .form-control::-webkit-input-placeholder,
.customerInfo textarea::-webkit-input-placeholder,
textarea::-webkit-input-placeholder
{
    color: #515252;
}
.bottomForm
{
    margin-bottom: 45px;
    padding-bottom: 30px;

    border-bottom: 1px solid #eae9e9;
}
.checkCart .scheduleMore
{
    padding-left: 40px;
}
.scheduleMore li
{
    line-height: 30px;

    float: left;
}
.scheduleMore ul
{
    overflow: hidden;
}
.scheduleMore ul li:first-child
{
    width: 3%;

    color: #879999;
}
.scheduleMore ul li:nth-child(2)
{
    width: 92%;

    color: #515252;
}
.scheduleMore ul li:last-child
{
    font-size: 30px;

    width: 5%;

    text-align: right;

    color: #02b691;
}
.payName
{
    padding-left: 40px;
}
.checkOut
{
    padding-bottom: 70px;
}
.payName label
{
    font: 400 16px Roboto, sans-serif;
    line-height: 40px;

    float: left;

    width: 18%;
    max-width: 170px;
    margin: 0;

    color: #515252;
}

/*
.payName .selectPay > label{
float:left;
}
*/
.payName .selectPay > select
{
    width: 82%;
    max-width: 225px;
    height: 40px;
    padding-left: 15px;

    border: 2px solid #515252;
    background: transparent url('/images/icondown.png') no-repeat 190px center / 20px 12px;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.payName .selectPay
{
    overflow: hidden;

    margin-bottom: 20px;
}
.addPay textarea
{
    float: left;

    width: 82%;
    max-height: 85px;
    padding: 15px;

    border: 2px solid #515252;
}
#cart-item
{
    z-index: 9999;

    display: none;
}
#cat_popup.categoryFix
{
    z-index: 999;/*
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    */
    top: 70px;
}
#menu-lang.langFix
{
    z-index: 999;/*
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    */
    top: 70px;
}

/*
#menu-lang{
transition: all .4s ease;
-moz-transition: all .4s ease;
-webkit-transition: all .4s ease;
}
*/
.checkOut .select2-container
{
    border-radius: 0;
}
.checkOut .select2-container--default .select2-selection--single
{
    height: 40px;

    border: 2px solid #515252;
    border-radius: 0 !important;
}
.checkOut .select2-container--default .select2-selection--single .select2-selection__rendered
{
    font-size: 14px;
    line-height: 38px;

    padding-left: 15px;

    color: #515252;
}
.checkOut .select2-container--default .select2-selection--single .select2-selection__arrow
{
    line-height: 38px;

    top: 2px;

    height: 40px;

    color: #515252;
}
.checkOut .select2-dropdown
{
    border: 2px solid #515252;
}
#click-register,
#click-login
{
    cursor: pointer;
}
#proFile,
.page-product
{
    margin-top: -128px;
}
#popup-home-page > .wrap
{
    position: relative;

    overflow: hidden;

    padding: 30px;

    background-color: #fff;
}
#popup-home-page > .wrap .topBottom
{
    overflow: hidden;

    margin: 25px 0;
}
#popup-home-page > .wrap .topBottom > p
{
    margin: 0;
}
.form-qr .col-xs-12
{
    padding: 0 !important;
}
